In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
compare_file_name = "../test/compare.csv"

In [3]:
compare_df = pd.read_csv(compare_file_name)

In [4]:
compare_df

,id,class_pred,before,after_x,after_y
0,4_0,DATE,21 February 2017,twenty-one February two thousand and seventeen,the twenty first of february twenty seventeen
1,14_1,DATE,4 March 2017,four March two thousand and seventeen,the fourth of march twenty seventeen
2,16_1,DATE,"March 28, 2017",March twenty-eight two thousand and seventeen,march twenty eighth twenty seventeen
3,20_1,DATE,"April 18, 2017",April eighteen two thousand and seventeen,april eighteenth twenty seventeen
4,32_1,DATE,15 August 2016,fifteen August two thousand and sixteen,the fifteenth of august twenty sixteen
5,45_0,DATE,"February 15, 2017",February fifteen two thousand and seventeen,february fifteenth twenty seventeen
6,59_10,MEASURE,76.2/sq mi,76.2/sq mi,seventy six point two per square miles
7,65_1,DATE,6 December 2016,six December two thousand and sixteen,the sixth of december twenty sixteen
8,67_1,DATE,"February 14, 2017",February fourteen two thousand and seventeen,february fourteenth twenty seventeen
9,70_6,DATE,3 June 1712,"three June one thousand, seven hundred and twelve",the third of june seventeen twelve
10,83_1,DATE,14 June 2017,fourteen June two thousand and seventeen,the fourteenth of june twenty seventeen
11,86_1,DATE,7 February 2017,seven February two thousand and seventeen,the seventh of february twenty seventeen
12,93_6,DIGIT,021798,"twenty-one thousand, seven hundred and ninety-...",o two one seven nine eight
13,95_4,CARDINAL,2020,twenty twenty,two thousand twenty
14,96_1,DATE,23 February 2017,twenty-three February two thousand and seventeen,the twenty third of february twenty seventeen
15,101_7,MEASURE,1.5 centimetres,1.5 centimetres,one point five centimetres
16,106_1,DATE,"April 26, 2017",April twenty-six two thousand and seventeen,april twenty sixth twenty seventeen
17,111_1,DATE,10 July 2017,ten July two thousand and seventeen,the tenth of july twenty seventeen
18,113_1,DATE,23 January 2017,twenty-three January two thousand and seventeen,the twenty third of january twenty seventeen
19,114_1,DATE,"May 24, 2017",May twenty-four two thousand and seventeen,may twenty fourth twenty seventeen
20,119_3,DATE,"April 6, 2017",April six two thousand and seventeen,april sixth twenty seventeen
21,121_8,DATE,30 April 1779,"thirty April one thousand, seven hundred and s...",the thirtieth of april seventeen seventy nine
22,122_1,DATE,3 March 2017,three March two thousand and seventeen,the third of march twenty seventeen
23,136_1,PLAIN,-,-,to
24,137_7,MEASURE,28 years,twenty-eight years,twenty eight years
25,141_1,DATE,"March 6, 2017",March six two thousand and seventeen,march sixth twenty seventeen
26,143_12,DATE,"January 29, 2017",January twenty-nine two thousand and seventeen,january twenty ninth twenty seventeen
27,147_0,DATE,"January 26, 2017",January twenty-six two thousand and seventeen,january twenty sixth twenty seventeen
28,151_17,PLAIN,-,-,to
29,153_3,LETTERS,IEEE,IEEE,i e e e
...,...,...,...,...,...
6858,69643_6,LETTERS,NCAA,NCAA,n c a a
6859,69643_8,CARDINAL,I,I,one
6860,69655_13,MEASURE,3.3 million m²,3.3 million square meters,three point three llion miles square meters
6861,69659_14,PLAIN,-,-,to
6862,69659_26,PLAIN,-,-,to
6863,69692_1,DATE,15 Nov 2016,fifteen Nov two thousand and sixteen,the fifteenth of november twenty sixteen
6864,69714_5,ELECTRONIC,Historywc.rootsweb.com,Historywc.rootsweb.com,h i s t o r y w c dot r o o t s w e b dot c o m
6865,69717_18,PLAIN,:,:,to
6866,69723_13,TIME,09:37 EDT,09:37 EDT,nine thirty seven e d t
6867,69727_11,MEASURE,21 years,twenty-one years,twenty one years
6868,69769_8,DATE,"July 7, 2017",July seven two thousand and seventeen,july seventh twenty seventeen
6869,69817_7,DATE,"24 February, 1942","twenty-four February one thousand, nine hundre...",the twenty fourth of february nineteen forty two
6870,69826_5,PLAIN,-,-,to
6871,69854_19,ELECTRONIC,http://dos.myflorida.com/elections/data-statis...,http://dos.myflorida.com/elections/data-statis...,h t t p colon slash slash d o s dot m y f l o ...
6872,69857_3,DATE,9 September 2016,nine September two thousand and sixteen,the ninth of september twenty sixteen
6873,69878_6,DATE,"July 14, 2016",July fourteen two thousand and sixteen,july fourteenth twenty sixteen
6874,69879_9,PLAIN,-,-,to
6875,69882_3,CARDINAL,"-27,716",-27716,minus twenty seven thousand seven hundred sixteen
6876,69885_5,DATE,"June 1, 2017",June one two thousand and seventeen,june first twenty seventeen
6877,69895_0,ELECTRONIC,Changsha.com,Changsha.com,c h a n g s h a dot c o m
6878,69899_0,LETTERS,NCDE,NCDE,n c d e
6879,69903_1,PLAIN,-,-,to
6880,69916_7,PLAIN,-,-,to
6881,69916_14,DATE,14.06.2016,14.06.2016,the fourteenth of june twenty sixteen
6882,69916_18,DATE,13.12.2016,13.12.2016,the thirteenth of december twenty sixteen
6883,69921_9,DATE,"February 8, 2017",February eight two thousand and seventeen,february eighth twenty seventeen
6884,69949_1,TELEPHONE,1 902368 43 6,"one nine hundred and two thousand, three hundr...",one sil nine o two three six eight sil four th...
6885,69966_16,CARDINAL,"250,010",two hundred and fifty thousand and ten,two hundred fifty thousand ten
6886,69982_4,MEASURE,"15,500 km²","fifteen thousand, five hundred km²",fifteen thousand five hundred square kilometers
6887,69988_27,LETTERS,TURR-,TURR-,t u r r

In [5]:
compare_df.shape

(6888, 5)

## check list

In [6]:
compare_df["class_pred"].value_counts()

DATE          2370
PLAIN         1087
ELECTRONIC     781
MEASURE        780
LETTERS        624
CARDINAL       447
TELEPHONE      254
DIGIT          224
MONEY          120
DECIMAL         71
VERBATIM        41
FRACTION        37
ADDRESS         26
TIME            21
ORDINAL          3
PUNCT            2
Name: class_pred, dtype: int64

In [7]:
def has_measure_string(token):
    token = str(token)
    mea_strs = ['years', 'year', 'months', 'month', 'weeks', 'week', 'days', 'day',
                'hours', 'minutes', 'min', 'seconds', 'nautical', 'acres', 'hectares',
                'tonnes', 'tons', 'kilobytes', 'nanobarns', 'square', 'miles', 'kilometres',
                'kilometre', 'kilometers', 'kilometer', 'meters', 'meter', 'metres', 'metre',
                'feet', 'yards', 'barrels', 'calories', 'watts', 'knots', 'inches', 'pounds',
                'degrees', 'bar', 'Cellos']
    for one in mea_strs:
        if one in token:
            return True
    return False

DATE 不用再查，表现很好。compare_df[compare_df["class_pred"] == "DATE"]

In [8]:
letter_df = compare_df[compare_df["class_pred"] == "LETTERS"]
letter_df[:50]

,id,class_pred,before,after_x,after_y
29,153_3,LETTERS,IEEE,IEEE,i e e e
38,197_11,LETTERS,IQTREE,IQTREE,i q t r e e
46,224_6,LETTERS,MDCCXLI,MDCCXLI,m d c c x l i
57,296_0,LETTERS,Ubs,Ubs,u b's
64,312_6,LETTERS,IEEE,IEEE,i e e e
69,341_0,LETTERS,LSSMN,LSSMN,l s s m n
87,465_7,LETTERS,CMCL,CMCL,c m c l
92,498_14,LETTERS,'em,'em,e m
93,498_17,LETTERS,'em,'em,e m
97,544_2,LETTERS,P.E.G.,P.E.G.,p e g
109,663_3,LETTERS,WAVG,WAVG,w a v g
116,702_11,LETTERS,CB₁,CB₁,c b ₁
117,702_16,LETTERS,CB₂,CB₂,c b ₂
120,727_1,LETTERS,'em,'em,e m
130,813_6,LETTERS,WWII,WWII,w w i i
131,813_12,LETTERS,WWII,WWII,w w i i
136,838_2,LETTERS,NCAA,NCAA,n c a a
189,1391_1,LETTERS,IEEE,IEEE,i e e e
202,1490_0,LETTERS,IEEE,IEEE,i e e e
216,1565_4,LETTERS,RKDW,RKDW,r k d w
218,1574_14,LETTERS,NCAA,NCAA,n c a a
237,1770_16,LETTERS,ZSWIM,ZSWIM,z s w i m
239,1783_10,LETTERS,WUTF-,WUTF-,w u t f
245,1818_9,LETTERS,NCAA's,NCAA's,n c a a's
247,1835_8,LETTERS,Efja,Efja,e f j a
254,1884_3,LETTERS,IEEE,IEEE,i e e e
277,2014_3,LETTERS,ZAYN's,ZAYN's,z a y n's
279,2024_13,LETTERS,NCAA,NCAA,n c a a
330,2528_4,LETTERS,NCAA,NCAA,n c a a
332,2541_0,LETTERS,JUOZAPAVICIUS,JUOZAPAVICIUS,j u o z a p a v i c i u s
381,2920_4,LETTERS,IEEE,IEEE,i e e e
395,3065_3,LETTERS,IEEE,IEEE,i e e e
412,3207_3,LETTERS,IEEE,IEEE,i e e e
428,3317_16,LETTERS,IEEE,IEEE,i e e e
440,3368_1,LETTERS,NCAA,NCAA,n c a a
449,3502_13,LETTERS,CaCO3,CaCO3,c a c o 3
455,3521_8,LETTERS,'em,'em,e m
458,3533_0,LETTERS,NCAA,NCAA,n c a a
467,3647_13,LETTERS,NCAA,NCAA,n c a a
477,3694_7,LETTERS,RTAMS,RTAMS,r t a m s
485,3827_0,LETTERS,IDHES-,IDHES-,i d h e s
497,3961_6,LETTERS,AC/DC,AC/DC,a c d c
507,4040_11,LETTERS,NCAA,NCAA,n c a a
514,4111_0,LETTERS,WBLU-,WBLU-,w b l u
527,4242_1,LETTERS,ILJM,ILJM,i l j m
531,4271_8,LETTERS,NCAA,NCAA,n c a a
572,4598_13,LETTERS,GIC's,GIC's,g i c's
579,4656_15,LETTERS,MCRX,MCRX,m c r x
581,4696_8,LETTERS,RUGUD,RUGUD,r u g u d
632,5132_0,LETTERS,IEEE,IEEE,i e e e

letters 暂过

In [7]:
plain_df = compare_df[compare_df["class_pred"] == "PLAIN"]
# plain_df.loc[plain_df['before'] == "-"]
plain_df.shape

(1115, 5)

In [8]:
plain_df_2 = plain_df.loc[plain_df["before"].apply(lambda x: x not in [":", "-"])]
plain_df_2.shape

(53, 5)

In [9]:
plain_df_2

,id,class_pred,before,after_x,after_y
166,1008_7,PLAIN,~,tilde,to
192,1263_1,PLAIN,Dc,d c,Dc
226,1505_10,PLAIN,Hbf,h b f,Hbf
312,2086_1,PLAIN,ZnI₂,ZnI₂,zinc iodide
334,2287_8,PLAIN,mrd,m r d,mrd
433,3040_16,PLAIN,~,tilde,to
541,3929_3,PLAIN,AM3,three a m,AM3
552,3980_1,PLAIN,Glk,g l k,Glk
608,4439_11,PLAIN,NaN,NaN,NaN
645,4713_6,PLAIN,NH₄,NH₄,ammonium
646,4713_21,PLAIN,SiO₂,SiO₂,silicon di oxide
1561,12085_11,PLAIN,NaN,NaN,NaN
1756,13747_18,PLAIN,CaCO₃,CaCO₃,calcium carbonate
1764,13833_3,PLAIN,PtCl,p t c l,PtCl
1799,14106_4,PLAIN,nov 1959,"nov one thousand, nine hundred and fifty-nine",nov 1959
2165,17605_15,PLAIN,SiO₂,SiO₂,silicon di oxide
2194,17825_3,PLAIN,H₂O,H₂O,water
2538,21373_16,PLAIN,H₂O,H₂O,water
2576,21644_20,PLAIN,CaCO₃,CaCO₃,calcium carbonate
2657,22259_11,PLAIN,Jn,j n,Jn
2774,23354_17,PLAIN,JPGhttp,j p g h t t p,JPGhttp
2931,24855_2,PLAIN,H₂O,H₂O,water
2996,25477_16,PLAIN,Jrs,j r s,Jrs
3070,25944_4,PLAIN,HMgMgH,h m g m g h,HMgMgH
3590,30864_6,PLAIN,Twst,t w s t,Twst
3646,31379_2,PLAIN,Ht,h t,Ht
3767,32413_7,PLAIN,sh,s h,sh
3768,32415_0,PLAIN,Cjdns,c j d n s,Cjdns
3958,34174_3,PLAIN,CaCO₃,CaCO₃,calcium carbonate
4298,36925_6,PLAIN,sps,s p s,sps
4311,37023_1,PLAIN,dpkg,d p k g,dpkg
4492,38725_13,PLAIN,NaN,NaN,NaN
4551,39300_0,PLAIN,Jnl,j n l,Jnl
4734,40788_5,PLAIN,APRIL 3,APRIL three,APRIL 3
4756,40967_11,PLAIN,Jxm,j x m,Jxm
5058,43641_7,PLAIN,th,t h,th
5167,44538_7,PLAIN,Xhttp,x h t t p,Xhttp
5272,45464_5,PLAIN,NaN,NaN,NaN
5400,46735_40,PLAIN,MgCr,m g c r,MgCr
5577,48231_6,PLAIN,Grrrls,g r r r l s,Grrrls
5645,48848_6,PLAIN,"NEARNE,",NEARNE,"NEARNE,"
5748,49939_19,PLAIN,AUGUST 25,AUGUST twenty-five,AUGUST 25
5774,50151_5,PLAIN,NaN,NaN,NaN
6125,53304_6,PLAIN,Schltr,s c h l t r,Schltr
6374,55327_5,PLAIN,SiO₂,SiO₂,silicon di oxide
6420,55702_7,PLAIN,H₂O,H₂O,water
6547,56788_4,PLAIN,Tr,t r,Tr
6548,56788_15,PLAIN,Tr,t r,Tr
6549,56788_25,PLAIN,Tr,t r,Tr
6701,58206_15,PLAIN,H₂O,H₂O,water
7056,61904_5,PLAIN,th,t h,th
7070,62057_8,PLAIN,Bt,b t,Bt
7740,68338_18,PLAIN,H₂O,H₂O,water

plain 暂过

In [10]:
mea_df = compare_df[compare_df["class_pred"] == "MEASURE"]

In [13]:
mea_df[50: 100]

,id,class_pred,before,after_x,after_y
816,5943_9,MEASURE,32 years,thirty-two years,thirty two years
823,6023_14,MEASURE,"47,000 square",forty-seven thousand square,forty seven thousand square
826,6039_12,MEASURE,124 feet,one hundred and twenty-four feet,one hundred twenty four feet
840,6137_17,MEASURE,"16,991 ft","sixteen thousand, nine hundred and ninety-one ft",sixteen thousand nine hundred ninety one feet
877,6402_19,MEASURE,260 kJ/m³,two hundred and sixty kJ/m³,two hundred sixty kilo joules per cubic meters
888,6504_11,MEASURE,137.7 square miles,137.7 square miles,one hundred thirty seven point seven square miles
893,6541_16,MEASURE,49ers,49ers,forty nine ers
898,6575_10,MEASURE,"6,020.9/km²",6020.9/km²,six thousand twenty point nine per square kilo...
904,6597_11,MEASURE,"1,600 hours","one thousand, six hundred hours",one thousand six hundred hours
920,6756_4,MEASURE,250 years,two hundred and fifty years,two hundred fifty years
967,7102_13,MEASURE,"2,910/sq mi",2910/sq mi,two thousand nine hundred ten per square miles
970,7111_19,MEASURE,15 ng/dL,fifteen ng/dL,fifteen nd grams per liters
976,7162_3,MEASURE,28 years,twenty-eight years,twenty eight years
1025,7610_2,MEASURE,216 metres,two hundred and sixteen metres,two hundred sixteen metres
1026,7610_8,MEASURE,6.7 metres,6.7 metres,six point seven metres
1029,7660_11,MEASURE,180 km²,one hundred and eighty km²,one hundred eighty square kilometers
1038,7735_10,MEASURE,49ers,49ers,forty nine ers
1058,7850_13,MEASURE,99.25 percent,99.25 percent,ninety nine point two five percent
1063,7903_18,MEASURE,35 hours,thirty-five hours,thirty five hours
1084,8103_5,MEASURE,27.8 mg/ml,27.8 mg/ml,twenty seven point eight l meters grams per mi...
1103,8311_10,MEASURE,"5,893 hectares","five thousand, eight hundred and ninety-three ...",five thousand eight hundred ninety three hectares
1113,8421_8,MEASURE,22 years,twenty-two years,twenty two years
1127,8531_6,MEASURE,35.5 square miles,35.5 square miles,thirty five point five square miles
1128,8531_8,MEASURE,91.9 km²,91.9 km²,ninety one point nine square kilometers
1129,8548_0,MEASURE,2002 m,two thousand and two m,two thousand two meters
1137,8591_5,MEASURE,105.5 miles per hour,105.5 miles per hour,one hundred five point five per our miles hour
1138,8591_7,MEASURE,169.8 km/h,169.8 km/h,one hundred sixty nine point eight kilometers ...
1152,8741_15,MEASURE,"9,200 kg","nine thousand, two hundred kilograms",nine thousand two hundred kilograms
1153,8741_17,MEASURE,"20,300 lb","twenty thousand, three hundred pounds",twenty thousand three hundred pounds
1158,8809_6,MEASURE,75 years,seventy-five years,seventy five years
1166,8921_17,MEASURE,3300rpm,3300rpm,three thousand three hundred revolutions per m...
1170,8954_10,MEASURE,182.9/sq mi,182.9/sq mi,one hundred eighty two point nine per square m...
1187,9130_19,MEASURE,49ers,49ers,forty nine ers
1213,9333_10,MEASURE,21.2 km²,21.2 km²,twenty one point two square kilometers
1214,9333_12,MEASURE,8.2 sq mi,8.2 sq mi,eight point two square miles
1217,9370_5,MEASURE,525 km²,five hundred and twenty-five km²,five hundred twenty five square kilometers
1218,9370_18,MEASURE,140/sq mi,140/sq mi,one hundred forty per square miles
1244,9562_7,MEASURE,"1,049 yards",one thousand and forty-nine yards,one thousand forty nine yards
1245,9567_9,MEASURE,162.27 km²,162.27 km²,one hundred sixty two point two seven square k...
1246,9567_11,MEASURE,62.65 sq mi,62.65 sq mi,sixty two point six five square miles
1247,9578_4,MEASURE,36.4 metres,36.4 metres,thirty six point four metres
1248,9578_6,MEASURE,119 feet,one hundred and nineteen feet,one hundred nineteen feet
1252,9605_5,MEASURE,1 690 km²,one six hundred and ninety km²,one 690 square kilometers
1261,9743_6,MEASURE,"5,110 kW","five thousand, one hundred and ten kW",five thousand one hundred ten kilowatts
1262,9743_13,MEASURE,18.5 knots,18.5 knots,eighteen point five knots
1263,9743_17,MEASURE,21.3 mph,21.3 mph,twenty one point three miles per hour
1270,9820_2,MEASURE,86 g,eighty-six g,eighty six grams
1286,9927_5,MEASURE,"644,000 km²",six hundred and forty-four thousand km²,six hundred forty four thousand square kilometers
1299,10063_9,MEASURE,"8,885.33 hectares",8885.33 hectares,eight thousand eight hundred eighty five point...
1300,10063_11,MEASURE,"21,956.1 acres",21956.1 acres,twenty one thousand nine hundred fifty six poi...

MEASURE 初看不错，暂过

In [14]:
compare_df[compare_df["class_pred"] == "ADDRESS"]

,id,class_pred,before,after_x,after_y
322,2146_7,ADDRESS,C000575,C000575,c o o o five seven five
487,3380_7,ADDRESS,B000889,B000889,b o o o eight eight nine
733,5445_4,ADDRESS,I01,I01,i one
891,6514_7,ADDRESS,C000895,C000895,c o o o eight nine five
1013,7444_6,ADDRESS,B000196,B000196,b o o o one nine six
1580,12200_6,ADDRESS,M000016,M000016,m o o o o one six
1637,12776_7,ADDRESS,M000585,M000585,m o o o five eight five
1745,13638_5,ADDRESS,I-247,I-247,i two forty seven
1833,14506_7,ADDRESS,B000336,B000336,b o o o three three six
2695,22601_7,ADDRESS,C000006,C000006,c o o o o o six
2922,24799_1,ADDRESS,US 08510165 B,"US eight million, five hundred and ten thousan...",u s o eight five one o one six five
3330,28381_6,ADDRESS,M000432,M000432,m o o o four three two
3403,29082_6,ADDRESS,B001222,B001222,b o o one two two two
3772,32457_8,ADDRESS,C31282,C31282,c three one two eight two
3925,33870_7,ADDRESS,C000946,C000946,c o o o nine four six
4223,36309_11,ADDRESS,I 13,I thirteen,i thirteen
4303,36949_7,ADDRESS,C000790,C000790,c o o o seven nine o
5213,44879_6,ADDRESS,C000358,C000358,c o o o three five eight
5909,51498_3,ADDRESS,M02,m o two,m two
6217,54024_6,ADDRESS,M000839,M000839,m o o o eight three nine
6293,54582_2,ADDRESS,C0211,c o two one one,c two eleven
7037,61780_6,ADDRESS,B000548,B000548,b o o o five four eight
7094,62454_1,ADDRESS,C613,C613,c six thirteen
7224,63827_7,ADDRESS,M000895,M000895,m o o o eight nine five
7287,64373_6,ADDRESS,M000546,M000546,m o o o five four six
7503,66357_7,ADDRESS,C000835,C000835,c o o o eight three five
7523,66465_5,ADDRESS,C107,C107,c one o seven
7772,68738_6,ADDRESS,I000043,I000043,i o o o o four three

In [22]:
card_df = compare_df[compare_df["class_pred"] == "CARDINAL"]
card_df.shape

(664, 5)

In [26]:
card_df[150:200]

,id,class_pred,before,after_x,after_y
2162,17586_12,CARDINAL,"65,178","sixty-five thousand, one hundred and seventy-e...",sixty five thousand one hundred seventy eight
2171,17642_10,CARDINAL,4471,four four seven one,four thousand four hundred seventy one
2177,17662_7,CARDINAL,1961,nineteen sixty one,one thousand nine hundred sixty one
2182,17706_3,CARDINAL,1824,eighteen twenty four,one thousand eight hundred twenty four
2206,18012_5,CARDINAL,LXVIII,l x v i i i,sixty eight
2217,18152_1,CARDINAL,9780299228934,"nine trillion, seven hundred and eighty billio...",nine trillion seven hundred eighty billion two...
2236,18288_2,CARDINAL,"175,615","one hundred and seventy-five thousand, six hun...",one hundred seventy five thousand six hundred ...
2244,18410_3,CARDINAL,220 194,two hundred and twenty one hundred and ninety-...,two hundred twenty thousand one hundred ninety...
2281,18877_2,CARDINAL,5186357,"five million, one hundred and eighty-six thous...",five million one hundred eighty six thousand t...
2305,19123_1,CARDINAL,9780385354042,"nine trillion, seven hundred and eighty billio...",nine trillion seven hundred eighty billion thr...
2309,19143_3,CARDINAL,1987,nineteen eighty seven,one thousand nine hundred eighty seven
2314,19195_11,CARDINAL,1983,nineteen eighty three,one thousand nine hundred eighty three
2321,19253_3,CARDINAL,40526,"forty thousand, five hundred and twenty-six",forty thousand five hundred twenty six
2344,19575_3,CARDINAL,XVI,the sixteenth,sixteen
2357,19678_2,CARDINAL,7227,seven two two seven,seven thousand two hundred twenty seven
2393,19929_19,CARDINAL,2015,twenty fifteen,two thousand fifteen
2407,20098_7,CARDINAL,I,I,one
2489,20882_3,CARDINAL,36774,"thirty-six thousand, seven hundred and seventy...",thirty six thousand seven hundred seventy four
2498,20963_9,CARDINAL,3424631086,"three billion, four hundred and twenty-four mi...",three billion four hundred twenty four million...
2526,21241_6,CARDINAL,77012188,"seventy-seven million, twelve thousand, one hu...",seventy seven million twelve thousand one hund...
2529,21278_3,CARDINAL,36772,"thirty-six thousand, seven hundred and seventy...",thirty six thousand seven hundred seventy two
2540,21376_7,CARDINAL,41009,forty-one thousand and nine,forty one thousand nine
2548,21419_7,CARDINAL,2016,twenty sixteen,two thousand sixteen
2549,21419_9,CARDINAL,2017,twenty seventeen,two thousand seventeen
2556,21479_22,CARDINAL,9780871403735,"nine trillion, seven hundred and eighty billio...",nine trillion seven hundred eighty billion eig...
2561,21531_2,CARDINAL,2016,twenty sixteen,two thousand sixteen
2580,21671_8,CARDINAL,I,I,one
2592,21731_1,CARDINAL,1913,nineteen thirteen,one thousand nine hundred thirteen
2600,21796_6,CARDINAL,I,I,one
2604,21832_0,CARDINAL,2011,twenty eleven,two thousand eleven
2608,21850_2,CARDINAL,"26,919","twenty-six thousand, nine hundred and nineteen",twenty six thousand nine hundred nineteen
2611,21872_11,CARDINAL,09,o nine,nine
2612,21884_11,CARDINAL,"1,415,226","1,415,226",one million four hundred fifteen thousand two ...
2631,22090_5,CARDINAL,1993,nineteen ninety three,one thousand nine hundred ninety three
2639,22135_14,CARDINAL,1927,nineteen twenty seven,one thousand nine hundred twenty seven
2645,22204_6,CARDINAL,86343,"eighty-six thousand, three hundred and forty-t...",eighty six thousand three hundred forty three
2648,22215_3,CARDINAL,I,I,one
2656,22259_7,CARDINAL,36811,"thirty-six thousand, eight hundred and eleven",thirty six thousand eight hundred eleven
2664,22387_6,CARDINAL,102 527,one hundred and two five hundred and twenty-seven,one hundred two thousand five hundred twenty s...
2684,22524_3,CARDINAL,43803,"forty-three thousand, eight hundred and three",forty three thousand eight hundred three
2691,22546_16,CARDINAL,9112005,"nine million, one hundred and twelve thousand ...",nine million one hundred twelve thousand five
2707,22685_13,CARDINAL,97130,"ninety-seven thousand, one hundred and thirty",ninety seven thousand one hundred thirty
2731,22949_1,CARDINAL,2014,twenty fourteen,two thousand fourteen
2734,22970_8,CARDINAL,I,I,one
2738,23000_6,CARDINAL,97808952921481983,"ninety-seven quadrillion, eight hundred and ei...",ninety seven quadrillion eight hundred eight t...
2751,23132_5,CARDINAL,08,o eight,eight
2764,23284_6,CARDINAL,05,o five,five
2765,23300_2,CARDINAL,X,X,ten
2773,23349_8,CARDINAL,2012,twenty twelve,two thousand twelve
2777,23386_7,CARDINAL,17984,"seventeen thousand, nine hundred and eighty-four",seventeen thousand nine hundred eighty four

In [16]:
cv = compare_df[compare_df["class_pred"] == "CARDINAL"]["before"].values
count = 0
for one in cv:
    if one.isdigit() and int(one)<=3000 and int(one) >=1000:
        count += 1
print("count: ", count)

count:  221

In [18]:
compare_df[compare_df["class_pred"] == "ELECTRONIC"]

,id,class_pred,before,after_x,after_y
45,220_11,ELECTRONIC,and/or,and/or,a n d slash o r
69,335_3,ELECTRONIC,#ZumaMustFall,#ZumaMustFall,hash tag zumamustfall
83,428_4,ELECTRONIC,.USA,u s a,dot u s a
101,546_1,ELECTRONIC,Stone.com,Stone.com,s t o n e dot c o m
109,595_0,ELECTRONIC,Investorguide.comReardon,Investorguide.comReardon,i n v e s t o r g u i d e dot c o m r e a r d o n
115,645_2,ELECTRONIC,2016.in,2016.in,t w o z e r o o n e s i x dot i n
135,786_24,ELECTRONIC,http://wwwusers.di.uniroma1.it/~velardi/IEEE_C...,http://wwwusers.di.uniroma1.it/~velardi/IEEE_C...,h t t p colon slash slash w w w u s e r s dot ...
144,828_0,ELECTRONIC,OnlineBeccaloni,OnlineBeccaloni,o n l i n e b e c c a l o n i
156,938_2,ELECTRONIC,http://www.amnh.org/exhibitions/permanent-exhi...,http://www.amnh.org/exhibitions/permanent-exhi...,h t t p colon slash slash w w w dot a m n h do...
164,1001_3,ELECTRONIC,http://www.governor.nsw.gov.au/governor/vice-r...,http://www.governor.nsw.gov.au/governor/vice-r...,h t t p colon slash slash w w w dot g o v e r ...
167,1021_15,ELECTRONIC,NJ.com,n_letter _letter j_letter dot c_letter o_lett...,n j dot c o m
172,1057_2,ELECTRONIC,/ˈsɪl.ver.sti,/ˈsɪl.ver.sti,slash ˈ s ɪ l dot v e r dot s t i
174,1102_8,ELECTRONIC,hundredshttp://www.cricinfo.com/westindies/con...,hundredshttp://www.cricinfo.com/westindies/con...,h u n d r e d s h t t p colon slash slash w w ...
185,1228_9,ELECTRONIC,axiomatics.com,axiomatics.com,a x i o m a t i c s dot c o m
188,1244_20,ELECTRONIC,http://www.cpukforum.com/forum/index.php,http://www.cpukforum.com/forum/index.php,h t t p colon slash slash w w w dot c p u k f ...
255,1712_1,ELECTRONIC,#RHOMelbourne,#RHOMelbourne,hash tag rhomelbourne
260,1739_2,ELECTRONIC,http://www.nytimes.com/2005/09/11/magazine/amo...,http://www.nytimes.com/2005/09/11/magazine/amo...,h t t p colon slash slash w w w dot n y t i m ...
262,1761_5,ELECTRONIC,Machine.KingsofMaroussi.com,Machine.KingsofMaroussi.com,m a c h i n e dot k i n g s o f m a r o u s s ...
279,1860_10,ELECTRONIC,and/or,and/or,a n d slash o r
293,1954_4,ELECTRONIC,#Charlotte,#Charlotte,hash tag charlotte
306,2010_10,ELECTRONIC,http://www.iranicaonline.org/articles/fath-ali...,http://www.iranicaonline.org/articles/fath-ali...,h t t p colon slash slash w w w dot i r a n i ...
327,2226_13,ELECTRONIC,Meriwealth.com,m_letter e_letter r_letter i_letter w_letter e...,m e r i w e a l t h dot c o m
363,2516_14,ELECTRONIC,http://www.afhra.af.mil/,http://www.afhra.af.mil/,h t t p colon slash slash w w w dot a f h r a ...
364,2517_1,ELECTRONIC,gillinghamfootballclub.com,gillinghamfootballclub.com,g i l l i n g h a m f o o t b a l l c l u b do...
377,2644_16,ELECTRONIC,//www.marinecorpstimes.com/news/2012/07/ap-mar...,//www.marinecorpstimes.com/news/2012/07/ap-mar...,slash slash w w w dot m a r i n e c o r p s t ...
397,2792_2,ELECTRONIC,http://www.popmatters.com/review/paul-bowles/E...,http://www.popmatters.com/review/paul-bowles/E...,h t t p colon slash slash w w w dot p o p m a ...
406,2856_6,ELECTRONIC,http://daryldukeprize.ca/enter/rules/Women,http://daryldukeprize.ca/enter/rules/Women,h t t p colon slash slash d a r y l d u k e p ...
452,3186_4,ELECTRONIC,Newspapers.com,n_letter e_letter w_letter s_letter p_letter a...,n e w s p a p e r s dot c o m
456,3204_12,ELECTRONIC,http://www.csmonitor.com/Science/2013/1031/10-...,http://www.csmonitor.com/Science/2013/1031/10-...,h t t p colon slash slash w w w dot c s m o n ...
458,3209_3,ELECTRONIC,http://www.hrw.org/sites/default/files/reports...,http://www.hrw.org/sites/default/files/reports...,h t t p colon slash slash w w w dot h r w dot ...
...,...,...,...,...,...
7592,67138_2,ELECTRONIC,www.biolib.cz,www.biolib.cz,w w w dot b i o l i b dot c z
7595,67147_19,ELECTRONIC,and/or,and/or,a n d slash o r
7600,67196_14,ELECTRONIC,BOWL.com,b_letter o_letter w_letter l_letter dot c_lett...,b o w l dot c o m
7609,67251_17,ELECTRONIC,https://www.cia.gov/library/publications/the-w...,https://www.cia.gov/library/publications/the-w...,h t t p s colon slash slash w w w dot c i a do...
7618,67321_9,ELECTRONIC,http://www.civilwararchive.com/Unreghst/unmiar...,http://www.civilwararchive.com/Unreghst/unmiar...,h t t p colon slash slash w w w dot c i v i l ...
7619,67326_11,ELECTRONIC,reporthttps://web.archive.org/web/201110150207...,reporthttps://web.archive.org/web/201110150207...,r e p o r t h t t p s colon slash slash w e b ...
7624,67340_0,ELECTRONIC,BioLib.cz,b_letter i_letter o_letter l_letter i_letter b...,b i o l i b dot c z
7660,67674_9,ELECTRONIC,MLSnews.net,MLSnews.net,m l s n e w s dot n e t
7667,67748_0,ELECTRONIC,BioLib.cz,b_letter i_letter o_letter l_letter i_letter b...,b i o l i b dot c z
7684,67866_0,ELECTRONIC,BioLib.cz,b_letter i_letter o_letter l_letter i_letter b...,b i o l i b dot c z
7686,67901_19,ELECTRONIC,theartsdesk.com,t_letter h_letter e_letter a_letter r_letter t...,t h e a r t s d e s k dot c o m
7704,68000_1,ELECTRONIC,Wellington.scoop.co.nz,w_letter e_letter l_letter l_letter i_letter n...,w e l l i n g t o n dot s c o o p dot c o dot n z
7727,68228_2,ELECTRONIC,Ultratop.be,u_letter l_letter t_letter r_letter a_letter t...,u l t r a t o p dot b e
7728,68228_11,ELECTRONIC,Disqueenfrance.com,d_letter i_letter s_letter q_letter u_letter e...,d i s q u e e n f r a n c e dot c o m
7734,68307_12,ELECTRONIC,WatchESPN.com,WatchESPN.com,w a t c h e s p n dot c o m
7737,68317_5,ELECTRONIC,nigeriaworld.com,n_letter i_letter g_letter e_letter r_letter i...,n i g e r i a w o r l d dot c o m
7753,68511_0,ELECTRONIC,BioLib.cz,b_letter i_letter o_letter l_letter i_letter b...,b i o l i b dot c z
7763,68610_4,ELECTRONIC,Signalbooster.com,Signalbooster.com,s i g n a l b o o s t e r dot c o m
7778,68769_8,ELECTRONIC,bangladeshbd.org,bangladeshbd.org,b a n g l a d e s h b d dot o r g
7783,68790_11,ELECTRONIC,.pdf,dot p_letter _letter d_letter _letter f_letter,dot p d f
7790,68861_7,ELECTRONIC,http://winnipeg.ca/clkdmis/documents/c/2006/a6...,http://winnipeg.ca/clkdmis/documents/c/2006/a6...,h t t p colon slash slash w i n n i p e g dot ...
7802,69066_0,ELECTRONIC,BioLib.cz,b_letter i_letter o_letter l_letter i_letter b...,b i o l i b dot c z
7804,69081_0,ELECTRONIC,Barbados.gov.bb,Barbados.gov.bb,b a r b a d o s dot g o v dot b b
7813,69104_7,ELECTRONIC,Snopes.com,s_letter n_letter o_letter p_letter e_letter s...,s n o p e s dot c o m
7846,69379_6,ELECTRONIC,Reginagallery.com,Reginagallery.com,r e g i n a g a l l e r y dot c o m
7860,69589_3,ELECTRONIC,foreverastro.com,foreverastro.com,f o r e v e r a s t r o dot c o m
7868,69639_2,ELECTRONIC,Fussballdaten.de,f_letter u_letter s_letter s_letter b_letter a...,f u s s b a l l d a t e n dot d e
7877,69714_5,ELECTRONIC,Historywc.rootsweb.com,Historywc.rootsweb.com,h i s t o r y w c dot r o o t s w e b dot c o m
7888,69854_19,ELECTRONIC,http://dos.myflorida.com/elections/data-statis...,http://dos.myflorida.com/elections/data-statis...,h t t p colon slash slash d o s dot m y f l o ...
7894,69895_0,ELECTRONIC,Changsha.com,Changsha.com,c h a n g s h a dot c o m

In [19]:
compare_df[compare_df["class_pred"] == "MONEY"]

,id,class_pred,before,after_x,after_y
54,282_7,MONEY,"US$610,408",US$610408,six hundred ten thousand four hundred eight do...
55,282_9,MONEY,2016 dollars,two thousand sixteen dollars,two thousand sixteen dolla rupees
229,1512_12,MONEY,"US$182,250",US$182250,one hundred eighty two thousand two hundred fi...
230,1512_14,MONEY,"US$42,750",US$42750,forty two thousand seven hundred fifty dollars
231,1512_17,MONEY,"US$37,500",US$37500,thirty seven thousand five hundred dollars
259,1725_9,MONEY,$23.2 billion,$23.2 billion,twenty three point two billion dollars
317,2129_5,MONEY,$ 16.8 billion,$ 16.8 billion,sixteen point eight billion dollars
340,2317_8,MONEY,$1695,$1695,one thousand six hundred ninety five dollars
435,3052_14,MONEY,$4billion,$4billion,fourbillion dollars
454,3201_7,MONEY,$2.00,two dollars,two point o o dollars
737,5451_11,MONEY,£650 million,£650 million,six hundred fifty million pounds
738,5451_13,MONEY,$802 million,$802 million,eight hundred two million dollars
819,5999_3,MONEY,US$515 million,US$515 million,five hundred fifteen million dollars
820,5999_12,MONEY,US$644,US$644,six hundred forty four dollars
847,6195_10,MONEY,"$1,210,000","$1,210,000",one million two hundred ten thousand dollars
848,6195_12,MONEY,"$1,460,000","$1,460,000",one million four hundred sixty thousand dollars
853,6225_11,MONEY,2014 dollars,two thousand fourteen dollars,two thousand fourteen dolla rupees
881,6450_3,MONEY,$1,one dollar,one dollars
890,6513_1,MONEY,¥40 billion,¥40 billion,forty billion yens
907,6604_7,MONEY,10 kilometers,ten kilometers,ten kilomete rupees
946,6918_11,MONEY,$20.93,$20.93,twenty point nine three dollars
947,6918_16,MONEY,USD 1.40,USD 1.40,one point four o united states dollars
950,6961_3,MONEY,"$147,800",$147800,one hundred forty seven thousand eight hundred...
980,7176_8,MONEY,"$95,500",$95500,ninety five thousand five hundred dollars
1094,8193_3,MONEY,US$.7m,US$.7m,point seven million dollars
1168,8939_4,MONEY,¥700 million,seven hundred million yen,seven hundred million yens
1169,8939_11,MONEY,¥1.2 billion,one point two billion yen,one point two billion yens
1211,9308_10,MONEY,"$839,300",$839300,eight hundred thirty nine thousand three hundr...
1236,9507_4,MONEY,"$955,573.00",$955573.00,nine hundred fifty five thousand five hundred ...
1375,10708_9,MONEY,"33,644 tons","thirty-three thousand, six hundred and forty-f...","33,644 tons"
...,...,...,...,...,...
6113,53201_8,MONEY,"$916,172",$916172,nine hundred sixteen thousand one hundred seve...
6178,53738_6,MONEY,"5,520 square","five thousand, five hundred and twenty square","5,520 square"
6207,53907_7,MONEY,$US 20.000 million,$US 20.000 million,us 20.000 million dollars
6450,55971_6,MONEY,252 million light years,two hundred and fifty-two million light years,two hundred fifty two million light yea rupees
6652,57711_8,MONEY,$1.25,one dollar and twenty five cents,one point two five dollars
6657,57728_20,MONEY,900 tons,nine hundred tons,900 tons
6720,58396_2,MONEY,MDL-72222,minus seventy two thousand two hundred twenty ...,mdl-72222
6777,59196_5,MONEY,$8 MILLION,$8 MILLION,eight million dollars
6831,59800_13,MONEY,100 million zl,one hundred million zlotys,100 million zl
6874,60274_7,MONEY,€1.12,€1.12,one point one two euros
7062,61947_2,MONEY,"£53,352",£53352,fifty three thousand three hundred fifty two p...
7148,63018_8,MONEY,€2.12 billion,€2.12 billion,two point one two billion euros
7149,63018_10,MONEY,$2.84 billion,$2.84 billion,two point eight four billion dollars
7257,64142_14,MONEY,"$3,219,012","$3,219,012",three million two hundred nineteen thousand tw...
7258,64142_18,MONEY,"$745,244",$745244,seven hundred forty five thousand two hundred ...
7397,65477_20,MONEY,$24.95,twenty four dollars and ninety five cents,twenty four point nine five dollars
7404,65532_5,MONEY,"$1,510,618","$1,510,618",one million five hundred ten thousand six hund...
7407,65559_1,MONEY,"$77,684.89",$77684.89,seventy seven thousand six hundred eighty four...
7416,65639_15,MONEY,"£42,500",£42500,forty two thousand five hundred pounds
7429,65715_17,MONEY,"$3,749",$3749,three thousand seven hundred forty nine dollars
7507,66383_10,MONEY,$1.3,one dollar and thirty cents,one point three dollars
7542,66691_5,MONEY,Rs 150 Cr,Rs one hundred and fifty Cr,one hundred fifty cr rupees
7651,67596_4,MONEY,900 Million $,nine hundred Million $,nine hundred million dollars
7710,68052_3,MONEY,"$34,910",$34910,thirty four thousand nine hundred ten dollars
7770,68709_6,MONEY,"Rs 27,635 crore","Rs twenty-seven thousand, six hundred and thir...",twenty seven thousand six hundred thirty five ...
7774,68751_8,MONEY,¥3 Billion,¥3 Billion,three billion yens
7819,69127_6,MONEY,"$6,331",$6331,six thousand three hundred thirty one dollars
7820,69127_12,MONEY,"$6,791",$6791,six thousand seven hundred ninety one dollars
7822,69127_19,MONEY,"$7,351",$7351,seven thousand three hundred fifty one dollars
7883,69791_1,MONEY,BMD-1,minus one bermudian dollars,bmd-1

In [20]:
compare_df[compare_df["class_pred"] == "ORDINAL"]

,id,class_pred,before,after_x,after_y
125,705_23,ORDINAL,IX,IX,the ninth
353,2460_10,ORDINAL,II,two,the second
430,3016_1,ORDINAL,VI,VI,the sixth
507,3557_2,ORDINAL,VII,seven,the seventh
854,6237_10,ORDINAL,IV,i v,the fourth
906,6603_7,ORDINAL,I,I,the first
930,6805_15,ORDINAL,II,two,the second
1014,7451_7,ORDINAL,I,I,the first
1154,8764_2,ORDINAL,IV,i v,the fourth
1195,9160_1,ORDINAL,41ST,forty first,41ST
1237,9509_6,ORDINAL,VI,VI,the sixth
1251,9600_1,ORDINAL,IV,i v,the fourth
1256,9720_5,ORDINAL,I,I,the first
1291,10000_5,ORDINAL,VIII,eight,the eighth
1391,10839_16,ORDINAL,IV,i v,the fourth
1404,10967_1,ORDINAL,XII,twelve,the twelfth
1466,11435_12,ORDINAL,III,three,the third
1566,12105_15,ORDINAL,XIII,thirteen,the thirteenth
1570,12133_12,ORDINAL,II's,the second's,II's
1639,12782_4,ORDINAL,VII's,the seventh's,VII's
1689,13102_17,ORDINAL,VII,seven,the seventh
1742,13612_5,ORDINAL,II,two,the second
1865,14849_3,ORDINAL,II,two,the second
1941,15580_19,ORDINAL,IV,i v,the fourth
2256,18564_6,ORDINAL,II,two,the second
2374,19771_4,ORDINAL,II,two,the second
2389,19917_3,ORDINAL,1165th,1165th,one thousand one hundred sixty fifth
2484,20842_7,ORDINAL,X.,x,the tenth
2488,20877_1,ORDINAL,X.,x,the tenth
2506,21011_4,ORDINAL,XII,twelve,the twelfth
...,...,...,...,...,...
6004,52371_15,ORDINAL,I's,the first's,I's
6026,52557_12,ORDINAL,VIII,eight,the eighth
6142,53455_16,ORDINAL,VIII's,the eighth's,VIII's
6154,53558_11,ORDINAL,III,three,the third
6312,54787_7,ORDINAL,III,three,the third
6393,55506_1,ORDINAL,I.,i,the first
6417,55670_12,ORDINAL,I's,the first's,I's
6470,56157_1,ORDINAL,II,two,the second
6558,56837_1,ORDINAL,2011tagblatt.de,2011tagblatt.de,2011tagblattde
6584,57084_16,ORDINAL,III,three,the third
6606,57294_1,ORDINAL,V.,v,the fifth
6731,58541_5,ORDINAL,III,three,the third
6741,58689_4,ORDINAL,II,two,the second
6820,59681_2,ORDINAL,X,X,the tenth
6826,59759_2,ORDINAL,XI,XI,the eleventh
6948,60904_8,ORDINAL,VI,VI,the sixth
6951,60927_3,ORDINAL,I.,i,the first
7113,62700_7,ORDINAL,II,two,the second
7145,62989_7,ORDINAL,IV,i v,the fourth
7176,63331_3,ORDINAL,I,I,the first
7192,63459_14,ORDINAL,VII,seven,the seventh
7248,64069_14,ORDINAL,I,I,the first
7275,64299_16,ORDINAL,III,three,the third
7286,64368_17,ORDINAL,VIII,eight,the eighth
7378,65193_11,ORDINAL,XI,XI,the eleventh
7472,66016_6,ORDINAL,X.,x,the tenth
7492,66221_2,ORDINAL,V.,v,the fifth
7535,66561_9,ORDINAL,III,three,the third
7578,66962_8,ORDINAL,V,V,the fifth
7714,68093_1,ORDINAL,IV,i v,the fourth

In [11]:
compare_df[compare_df["class_pred"] == "TELEPHONE"]

,id,class_pred,before,after_x,after_y
39,413_13,TELEPHONE,1941-1946 (1953) 348-68,one nine four one sil one nine four six sil on...,one nine four one sil one nine four six sil on...
57,587_11,TELEPHONE,045007,forty-five thousand and seven,o four five o o seven
60,624_15,TELEPHONE,330-2600 BCE,330-2600 BCE,three three o sil two six o o sil b c e
61,624_21,TELEPHONE,2600-1900 BCE,2600-1900 BCE,two six o o sil one nine o o sil b c e
93,1039_1,TELEPHONE,2010-2015 SE,2010-2015 SE,two o one o sil two o one five sil s e
130,1522_1,TELEPHONE,978-1-86395-429-7,978-1-86395-429-7,nine seven eight sil one sil eight six three n...
137,1606_10,TELEPHONE,1881-1899 ASIN,one eight eight one sil one eight nine nine si...,one eight eight one sil one eight nine nine si...
155,1926_3,TELEPHONE,978-0-3743-5095-6,978-0-3743-5095-6,nine seven eight sil o sil three seven four th...
172,2110_1,TELEPHONE,4-8179-2022,4-8179-2022,four sil eight one seven nine sil two o two two
173,2115_1,TELEPHONE,22-25 RUS,22-25 RUS,two two sil two five sil r u s
185,2228_18,TELEPHONE,1120-49 JSTOR,one one two o sil four nine sil j stor,one one two o sil four nine sil j s t o r
198,2356_2,TELEPHONE,(1976) 198,one nine seven six sil one nine eight,one nine seven six sil sil one nine eight
202,2400_1,TELEPHONE,0-9841859-5,0-9841859-5,o sil nine eight four one eight five nine sil ...
235,2756_2,TELEPHONE,018611479,"eighteen million, six hundred and eleven thous...",o one eight six one one four seven nine
266,3143_1,TELEPHONE,978-0-9854603-2-7,978-0-9854603-2-7,nine seven eight sil o sil nine eight five fou...
287,3371_18,TELEPHONE,3-8136-0021-1101 UKW,3-8136-0021-1101 UKW,three sil eight one three six sil o o two one ...
294,3426_10,TELEPHONE,1365-294X.2004,one three six five sil two nine four extension...,one three six five sil two nine four x sil two...
314,3745_7,TELEPHONE,2012-13 UEFA,two o one two sil one three sil uefa,two o one two sil one three sil u e f a
348,4178_6,TELEPHONE,34-38238-239,34-38238-239,three four sil three eight two three eight sil...
357,4273_1,TELEPHONE,0-316-51163-3,0-316-51163-3,o sil three one six sil five one one six three...
361,4323_1,TELEPHONE,0-521-28075-3,0-521-28075-3,o sil five two one sil two eight o seven five ...
362,4323_4,TELEPHONE,978-0-521-28075-4,978-0-521-28075-4,nine seven eight sil o sil five two one sil tw...
388,4613_1,TELEPHONE,0385236905,"three hundred and eighty-five million, two hun...",o three eight five two three six nine o five
432,4981_15,TELEPHONE,0-231-12703-0,0-231-12703-0,o sil two three one sil one two seven o three ...
437,5066_9,TELEPHONE,073909,"seventy-three thousand, nine hundred and nine",o seven three nine o nine
452,5220_10,TELEPHONE,0-618-00221-9,0-618-00221-9,o sil six one eight sil o o two two one sil nine
527,5881_1,TELEPHONE,978-38296068512016,978-38296068512016,nine seven eight sil three eight two nine six ...
528,5885_0,TELEPHONE,1997-98 AHL,one nine nine seven sil nine eight sil ahl,one nine nine seven sil nine eight sil a h l
535,5922_2,TELEPHONE,2486-2494,2486-2494,two four eight six sil two four nine four
565,6196_1,TELEPHONE,01 - 6,one - six,o one sil sil sil six
...,...,...,...,...,...
6180,61778_18,TELEPHONE,0-300-10442-1,0-300-10442-1,o sil three o o sil one o four four two sil one
6187,61809_16,TELEPHONE,2000-2001 ABA,2000-2001 ABA,two o o o sil two o o one sil a b a
6192,61823_25,TELEPHONE,12-200807943,12-200807943,one two sil two o o eight o seven nine four three
6195,61854_24,TELEPHONE,0-486-25455-0,0-486-25455-0,o sil four eight six sil two five four five fi...
6294,62820_9,TELEPHONE,64-40-5,64-40-5,six four sil four o sil five
6332,63084_17,TELEPHONE,(2007)30,(2007)30,two o o seven sil three o
6343,63240_4,TELEPHONE,1997-2002 JS,1997-2002 JS,one nine nine seven sil two o o two sil j s
6344,63240_6,TELEPHONE,2002-2003 NA,2002-2003 NA,two o o two sil two o o three sil n a
6345,63240_9,TELEPHONE,2003-2005 USM,2003-2005 USM,two o o three sil two o o five sil u s m
6346,63240_11,TELEPHONE,2005-2006 JSM,2005-2006 JSM,two o o five sil two o o six sil j s m
6358,63330_3,TELEPHONE,0786423455,"seven hundred and eighty-six million, four hun...",o seven eight six four two three four five five
6383,63623_1,TELEPHONE,5-02-006992-2,5-02-006992-2,five sil o two sil o o six nine nine two sil two
6484,64553_8,TELEPHONE,2012-2015 GDP,2012-2015 GDP,two o one two sil two o one five sil g d p
6535,65102_8,TELEPHONE,43-544 AD,43-544 AD,four three sil five four four sil a d
6565,65450_4,TELEPHONE,0-89281-505-1 CD,0-89281-505-1 CD,o sil eight nine two eight one sil five o five...
6572,65550_17,TELEPHONE,3-11-008324-8,3-11-008324-8,three sil one one sil o o eight three two four...
6644,66270_4,TELEPHONE,84-934411-0-4,84-934411-0-4,eight four sil nine three four four one one si...
6663,66462_1,TELEPHONE,978-0-300-11465-2,nine seven eight sil o sil three hundred sil o...,nine seven eight sil o sil three o o sil one o...
6664,66487_4,TELEPHONE,2005-06 FIRST,2005-06 FIRST,two o o five sil o six sil f i r s t
6668,66540_1,TELEPHONE,978-1107653788,978-1107653788,nine seven eight sil one one o seven six five ...
6695,66839_3,TELEPHONE,194 13/94,one hundred and ninety-four 13/94,one nine four sil one three sil nine four
6820,67998_0,TELEPHONE,080218,"eighty thousand, two hundred and eighteen",o eight o two one eight
6881,68623_16,TELEPHONE,81-7223-351-5,81-7223-351-5,eight one sil seven two two three sil three fi...
6903,68794_13,TELEPHONE,3500-3800,3500-3800,three five o o sil three eight o o
6905,68830_1,TELEPHONE,0-306-47350,0-306-47350,o sil three o six sil four seven three five o
6926,69116_18,TELEPHONE,5-18 JANUARY 2016,5-18 JANUARY two thousand and sixteen,five sil one eight sil j a n u a r y sil two o...
6942,69347_16,TELEPHONE,4800-4400 BP,4800-4400 BP,four eight o o sil four four o o sil b p
6971,69631_12,TELEPHONE,978-0-7552-1321-4,978-0-7552-1321-4,nine seven eight sil o sil seven five five two...
6994,69854_1,TELEPHONE,0271025263,"two hundred and seventy-one million, twenty-fi...",o two seven one o two five two six three
6995,69854_4,TELEPHONE,978-0-271-02526-1,978-0-271-02526-1,nine seven eight sil o sil two seven one sil o...