In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
debug_file = "../output/res_16.v2.5.debug.final.csv"

In [3]:
debug_df = pd.read_csv(debug_file)

In [4]:
debug_df.columns

Index(['id', 'after', 'before', 'class_pred', 'max_prob'], dtype='object')

In [5]:
debug_df["class_pred"].value_counts()

PLAIN         688297
PUNCT         193493
DATE           27004
LETTERS        17267
CARDINAL       13159
VERBATIM        9918
MEASURE         2518
ORDINAL         1114
ELECTRONIC       815
DECIMAL          797
MONEY            532
DIGIT            461
TELEPHONE        352
TIME             151
FRACTION         106
ADDRESS           62
Name: class_pred, dtype: int64

In [6]:
debug_df.head()

,id,after,before,class_pred,max_prob
0,0_0,Last,Last,PLAIN,0.999873
1,0_1,modified,modified,PLAIN,0.999985
2,0_2,the thirty first of march twenty sixteen,2016-03-31,DATE,0.999987
3,0_3,.,.,PUNCT,1.000000
4,1_0,There's,There's,PLAIN,0.999987

检查是否有数字

In [7]:
def has_digit(token):
    token = str(token)
    for c in token:
        if c.isdigit():
            return True
    return False

In [8]:
debug_df.loc[debug_df["after"].apply(has_digit)]

              id           after             before class_pred  max_prob
8746      702_11           c b ₁                CB₁    LETTERS  0.903700
8751      702_16           c b ₂                CB₂    LETTERS  0.979861
13717    1084_10               ¹                  ¹   VERBATIM  0.992725
19832     1547_3               ₂                  ₂   VERBATIM  0.996975
26827     2086_1            ZnI₂               ZnI₂      PLAIN  0.892235
32076     2489_8  18000000square  18,000,000 square   CARDINAL  0.891726
45313    3502_13           CaCO3              CaCO3      PLAIN  0.529404
61114     4713_6             NH₄                NH₄      PLAIN  0.979966
61116     4713_8               ₂                  ₂   VERBATIM  0.999373
61118    4713_10               ₂                  ₂   VERBATIM  0.897784
61120    4713_12               ₇                  ₇   VERBATIM  0.994259
61129    4713_21            SiO₂               SiO₂      PLAIN  0.998067
61461     4740_1       blink-182          Blink-182       DATE  0.886055
62120     4786_7               ₃                  ₃   VERBATIM  0.991588
65130    5006_12               ₁                  ₁   VERBATIM  0.996273
65176     5009_4               ⁶                  ⁶   VERBATIM  0.548633
77743     5968_3               ₂                  ₂   VERBATIM  0.999978
77744     5968_4               ₁                  ₁   VERBATIM  0.999963
89891     6890_2               ₂                  ₂   VERBATIM  0.999969
89903    6890_14               ₂                  ₂   VERBATIM  0.999984
93190     7143_6               ¹                  ¹   VERBATIM  0.700694
93191     7143_7               ⁴                  ⁴   VERBATIM  0.999780
93195    7143_11               ¹                  ¹   VERBATIM  0.918288
93196    7143_12               ⁴                  ⁴   VERBATIM  0.999976
93197    7143_13               ⁴                  ⁴   VERBATIM  0.999892
95478     7311_1               ₄                  ₄   VERBATIM  0.992442
122374    9307_3               ₂                  ₂   VERBATIM  0.997602
122376    9307_5            OH)₂               OH)₂      PLAIN  0.860483
125948   9583_14               ₁                  ₁   VERBATIM  0.999977
125949   9583_15               ₆                  ₆   VERBATIM  0.999997
...          ...             ...                ...        ...       ...
861919   63155_8               ₃                  ₃   VERBATIM  0.993572
861922  63155_11               ₄                  ₄   VERBATIM  0.993497
862005  63160_16               ¹                  ¹   VERBATIM  0.993590
866429  63479_17               ₁                  ₁   VERBATIM  0.993122
867719  63574_14           PbCl₂              PbCl₂      PLAIN  0.802423
867883   63587_1       blink-182          blink-182      PLAIN  0.999051
869087   63668_7               ₃                  ₃   VERBATIM  0.995776
870028   63745_3       blink-182          Blink-182       DATE  0.978309
871306  63848_10           .6.39              .6.39   VERBATIM  0.996960
873774   64023_9               ₁                  ₁   VERBATIM  0.993523
873777  64023_12               ₂                  ₂   VERBATIM  0.993523
875534   64148_7               ₂                  ₂   VERBATIM  0.997131
878460   64375_4            .4.5               .4.5   VERBATIM  0.998996
891773  65352_12               ₂                  ₂   VERBATIM  0.987249
902864   66173_3               ₃                  ₃   VERBATIM  0.946717
902867   66173_6               ₃                  ₃   VERBATIM  0.971664
906343   66417_2               ₂                  ₂   VERBATIM  0.994912
908019  66529_12               ₄                  ₄   VERBATIM  0.998298
911286   66764_3               ¹                  ¹      PUNCT  0.608174
912534  66859_10               ₅                  ₅   VERBATIM  0.920384
919872  67384_19               ₀                  ₀   VERBATIM  0.999907
933130  68338_13               ₂                  ₂   VERBATIM  0.997270
933135  68338_18             H₂O                H₂O      PLAIN  0.947711
933140  68338_23             NH₃                NH₃      PLAIN  0.979966
943623  69084_14               ¹                  ¹   VERBATIM  0.936304
943624  69084_15               ⁴                  ⁴   VERBATIM  0.994687
943627  69084_18          16 KiB             16 KiB    MEASURE  0.996083
945762   69244_4          C₂₅H₂₁             C₂₅H₂₁      PLAIN  0.955006
945763   69244_5             N₅O                N₅O      PLAIN  0.926550
946149  69271_13            XeF₂               XeF₂      PLAIN  0.944352

[319 rows x 5 columns]

检查是否有符号

In [9]:
def has_symbol(token):
    token = str(token)
    for c in token:
        if c.isdigit() or c.isalpha() or c == " ":
            continue
        else:
            return True
    return False

In [10]:
debug_df.loc[np.logical_and(np.logical_and(debug_df["after"].apply(has_symbol), debug_df["class_pred"] != "PUNCT"), debug_df["class_pred"] != "PLAIN")][50:100]

,id,after,before,class_pred,max_prob
26384,2051_5,-,-,VERBATIM,0.999981
26697,2076_2,-,-,VERBATIM,0.999988
26808,2084_10,n u's,Nus,LETTERS,0.618101
26838,2086_12,-,-,VERBATIM,0.999093
27626,2149_11,-,-,VERBATIM,0.999983
28045,2184_3,-,-,VERBATIM,0.999970
28249,2198_14,-,-,VERBATIM,0.999979
28589,2223_6,-,-,VERBATIM,0.999926
30310,2350_6,-,-,VERBATIM,0.999917
30314,2350_10,-,-,VERBATIM,0.999931
30321,2350_17,-,-,VERBATIM,0.999880
30522,2366_8,-,-,VERBATIM,0.999985
31225,2425_4,-,-,VERBATIM,0.999329
31227,2425_6,-,-,VERBATIM,0.999981
33364,2585_7,g e f's,GEFs,LETTERS,0.663121
33369,2585_12,g d i's,GDIs,LETTERS,0.872457
33741,2616_3,::,::,ELECTRONIC,0.999375
34199,2650_3,i t's,its',LETTERS,0.999885
34794,2699_14,-,-,VERBATIM,0.999929
35114,2721_4,-,-,VERBATIM,0.980887
35844,2778_3,l p's,LPs,LETTERS,0.992661
35901,2782_8,-,-,VERBATIM,0.953044
36312,2809_7,-,-,VERBATIM,0.999993
37865,2926_1,-,-,VERBATIM,0.999973
37868,2926_4,-,-,VERBATIM,0.999971
38136,2947_13,-,-,VERBATIM,0.999977
38314,2961_11,-,-,VERBATIM,0.999849
38666,2992_0,-,-,VERBATIM,0.999976
39093,3024_2,-,-,VERBATIM,0.999987
39381,3045_2,b y u's,BYU's,LETTERS,0.991711
39420,3047_12,-,-,VERBATIM,0.999762
41578,3209_3,h t t p colon slash slash w w w dot h r w dot ...,http://www.hrw.org/sites/default/files/reports...,ELECTRONIC,0.999998
41910,3233_8,-,-,VERBATIM,0.999988
42095,3248_5,-,-,VERBATIM,0.999698
42196,3257_6,-,-,VERBATIM,0.999963
42355,3274_4,-,-,VERBATIM,0.993627
43359,3352_1,-,-,VERBATIM,0.999983
43918,3395_9,-,-,VERBATIM,0.999925
44486,3437_3,-,-,VERBATIM,0.999969
45257,3498_7,-,-,VERBATIM,0.999980
45919,3551_4,-,-,VERBATIM,0.999972
47253,3652_4,h t t p colon slash slash l i b dot h k u dot ...,http://lib.hku.hk/kt/kt-meeting-minutes-24_Apr...,ELECTRONIC,0.999999
47758,3689_10,-,-,VERBATIM,0.999992
47929,3703_2,d j's,DJs,LETTERS,0.980910
49221,3805_1,-,-,VERBATIM,0.999915
51812,4000_4,-,-,VERBATIM,0.999990
51917,4008_12,g l o's,Glos,LETTERS,0.621646
53555,4134_2,h t t p s colon slash slash g e o l o c a t i ...,https://geolocation.ws/v/W/File%3AChurch%20Lan...,ELECTRONIC,0.999818
55334,4265_16,-,-,VERBATIM,0.999966
55642,4292_19,-,-,VERBATIM,0.999938

检查信心不高的分类

In [9]:
debug_df["max_prob"].value_counts(bins=10)

(0.934, 1.0]      946833
(0.868, 0.934]      3246
(0.801, 0.868]      1666
(0.735, 0.801]      1201
(0.669, 0.735]       908
(0.603, 0.669]       845
(0.536, 0.603]       797
(0.47, 0.536]        477
(0.404, 0.47]         44
(0.336, 0.404]        29
Name: max_prob, dtype: int64

In [10]:
debug_df.loc[153008]

id                       11598_2
after         the sixteenth june
before             the 16th June
class_pred                  DATE
max_prob                0.999785
Name: 153008, dtype: object

In [11]:
debug_df.loc[np.logical_and(debug_df["max_prob"] < 0.404, debug_df["max_prob"] > 0.336)]

,id,after,before,class_pred,max_prob
4852,398_15,forty five years,45 years,MEASURE,0.358373
21990,1702_12,fifteen years,15 years,MEASURE,0.357256
51711,3994_3,twenty kilometres,20 kilometres,MEASURE,0.350195
103283,7893_1,seventy four years,74 years,MEASURE,0.398179
112576,8591_5,one hundred five point five miles per hour,105.5 miles per hour,MEASURE,0.394667
170206,12861_4,thirty years,30 years,MEASURE,0.364446
210893,15884_11,twelve years,12 years,MEASURE,0.360964
221582,16670_1,thirty minutes,30 minutes,MEASURE,0.373131
326168,24276_13,the first of december,01 Dec,DATE,0.402090
353055,26233_6,eighteen years,18 years,MEASURE,0.345881
434883,32227_5,fifty five years,55 years,MEASURE,0.381116
446960,33100_15,thirteen years,13 years,MEASURE,0.373779
452221,33477_11,twenty years,20 years,MEASURE,0.344852
569909,42029_5,p d f,pdf,VERBATIM,0.349492
574640,42371_3,twenty three kilometres,23 kilometres,MEASURE,0.389772
597580,44021_15,p d f,pdf,LETTERS,0.374729
605100,44568_11,l f c,lfc,LETTERS,0.363861
637340,46864_2,fourteen years,14 years,MEASURE,0.343906
644265,47358_18,hash tag hatt,#hatt,ELECTRONIC,0.341315
658803,48439_12,two o three,203,DATE,0.372880
668987,49182_10,minus two thousand per hectares,"-2,000/ha",MEASURE,0.387237
684916,50321_7,eighteen years,18 years,MEASURE,0.389558
730268,53604_11,forty kilometers,40 kilometers,MEASURE,0.399540
772835,56722_2,(,:(,CARDINAL,0.337624
855677,62695_7,twenty eight years,28 years,MEASURE,0.346975
856524,62756_15,two,II,LETTERS,0.391416
885953,64923_16,h b,hb,LETTERS,0.383834
902579,66149_7,twelve years,12 years,MEASURE,0.395919
944757,69169_15,(,:(,CARDINAL,0.353310

In [12]:
debug_df.loc[np.logical_and(debug_df["max_prob"] < 0.47, debug_df["max_prob"] > 0.404)]

,id,after,before,class_pred,max_prob
43271,3345_8,m p,mp,LETTERS,0.438912
66274,5098_4,two o o o,2000,DIGIT,0.443002
76726,5891_13,thirty six weeks,36 weeks,MEASURE,0.422542
86249,6604_7,ten kilometers,10 kilometers,MEASURE,0.410027
110291,8421_8,twenty two years,22 years,MEASURE,0.457991
115592,8809_6,seventy five years,75 years,MEASURE,0.406574
146855,11148_7,three thirty seven thousand five hundred sixths,3/37506,CARDINAL,0.408591
149500,11339_2,eleven years,11 years,MEASURE,0.436643
179256,13523_7,one hundred ten kilometres,110 kilometres,MEASURE,0.462128
181616,13691_9,x l s,xls,VERBATIM,0.435031
221735,16679_1,i i a,IIA,LETTERS,0.469339
232808,17468_5,ah,ah,PLAIN,0.469928
269364,20125_1,fourF amperes,4 AF,MEASURE,0.425780
275053,20529_7,seventeen years,17 years,MEASURE,0.469496
276070,20604_6,thirty years,30 years,MEASURE,0.418209
284450,21229_3,twenty ten,2010,DATE,0.426141
313565,23349_6,mount,mt,VERBATIM,0.457252
349036,25960_3,VIK,VIK,CARDINAL,0.430485
360331,26777_3,thirteen kilometres,13 kilometres,MEASURE,0.461771
367424,27298_10,I,I,PLAIN,0.448942
374016,27789_3,twelve kilometres,12 kilometres,MEASURE,0.455024
419566,31117_3,ten kilometres,10 kilometres,MEASURE,0.448152
452599,33507_6,twelve thousand stone,"12,000 stone",DECIMAL,0.413625
470542,34805_9,thirty two years,32 years,MEASURE,0.462700
477271,35297_5,thirteen thousand twenty nine hectares,13 029 hectares,MEASURE,0.465898
496573,36702_8,i i b,IIB,LETTERS,0.458454
564263,41617_3,twenty seven kilometres,27 kilometres,MEASURE,0.431130
572443,42212_14,sixty years,60 years,MEASURE,0.464810
614274,45216_4,fifteen years,15 years,MEASURE,0.431226
641743,47185_15,eighteen months,18 months,MEASURE,0.444465
655661,48200_3,thirty years,30 years,MEASURE,0.468895
675203,49629_3,seventy five years,75 years,MEASURE,0.457770
675864,49680_9,t l r b,TlrB,LETTERS,0.447016
676514,49724_5,ca5(po4)3,Ca5(PO4)3,DATE,0.407351
715665,52548_11,fifteen years,15 years,MEASURE,0.424350
741631,54435_7,twenty nine seconds,29 seconds,MEASURE,0.451996
772009,56662_1,twenty six years,26 years,MEASURE,0.420138
792129,58107_3,thirteen weeks,13 weeks,MEASURE,0.458226
826438,60589_8,r k,rk,LETTERS,0.410138
833331,61077_6,fifteen years,15 years,MEASURE,0.421852
872359,63922_23,s t h,sth,VERBATIM,0.414975
905923,66391_13,seventy five years,75 years,MEASURE,0.449746
922736,67596_4,nine hundred million dollars,900 Million $,MONEY,0.458165
923745,67666_9,fifteen years,15 years,MEASURE,0.442731

In [16]:
debug_df.loc[np.logical_and(debug_df["max_prob"] < 0.536, debug_df["max_prob"] > 0.47)]

,id,after,before,class_pred,max_prob
263,25_11,DID,DID,PLAIN,0.506123
965,84_1,a e t,AET,LETTERS,0.528986
5746,473_3,i g,Ig,LETTERS,0.535981
6456,528_9,p,p,PLAIN,0.532378
7350,598_4,GATA,GATA,PLAIN,0.500221
7822,630_8,OPALS,OPALS,LETTERS,0.529580
9375,755_21,IEEE,IEEE,PLAIN,0.529684
10006,801_12,r o c o r,ROCOR,LETTERS,0.518825
10784,859_1,Encyclopédisque,Encyclopédisque,PLAIN,0.519043
13186,1043_11,semi-finalist,semi-finalist,PLAIN,0.501891
13219,1045_9,k r u,Kru,LETTERS,0.531573
17740,1391_1,IEEE,IEEE,PLAIN,0.517120
18116,1417_11,IgG,IgG,PLAIN,0.506412
18728,1466_12,n,n,PLAIN,0.534181
19067,1490_0,IEEE,IEEE,PLAIN,0.517953
19461,1518_15,twenty fifteen,2015,DATE,0.524427
23497,1826_0,Ekol,Ekol,PLAIN,0.516554
25822,2010_13,f a,Fa,LETTERS,0.511771
26921,2093_3,IS,IS,PLAIN,0.527793
27377,2130_10,two hundred twenty two thousand one hundred fo...,222142,CARDINAL,0.501848
29610,2296_1,i,i,LETTERS,0.520684
31877,2474_3,Ika,Ika,LETTERS,0.526144
35626,2762_0,twenty thirteen,2013,DATE,0.533981
38880,3009_2,h b c,HbC,VERBATIM,0.477600
41822,3227_2,s e q,Seq,LETTERS,0.520185
42926,3317_16,i e e e,IEEE,LETTERS,0.507490
45313,3502_13,CaCO3,CaCO3,PLAIN,0.529404
45729,3537_9,two-seater,two-seater,PLAIN,0.510344
49870,3850_2,one thousand one hundred eleven ounces,1111-OZ,MEASURE,0.523852
51773,3997_4,s u m e r i a n r e c o r d s dot c o m,sumerianrecords.com,ELECTRONIC,0.500313
...,...,...,...,...,...
899115,65898_16,q a b r,Qabr,LETTERS,0.528446
900073,65963_17,p,p,PLAIN,0.522831
902723,66161_8,spider-man,spider-man,PLAIN,0.535182
904787,66307_17,p r o p t,PROPT,LETTERS,0.533705
905269,66344_2,o o k,ook,LETTERS,0.516824
905963,66394_5,r,r,LETTERS,0.517205
911058,66749_11,chi,chi,PLAIN,0.526045
911503,66781_0,thirty years,30 years,MEASURE,0.485354
911650,66793_1,spider-man,spider-man,PLAIN,0.521034
911877,66806_9,pre-season,pre-season,PLAIN,0.529705
912175,66830_8,GENUKI,GENUKI,LETTERS,0.521773
913006,66891_13,half-life,half-life,PLAIN,0.509317
914512,67000_13,A,A,LETTERS,0.510315
920939,67460_6,twenty thirteen,2013,DATE,0.501311
926469,67862_1,d o r s h e i m e r,DORSHEIMER,LETTERS,0.520535
929888,68109_4,b j,bj,LETTERS,0.504604
932290,68282_7,OWL,OWL,PLAIN,0.524225
935020,68468_12,two thousand three,2003,DATE,0.530047
940250,68847_18,one o seven seven,1077,DIGIT,0.507449
940265,68849_6,GNARLIEST,GNARLIEST,PLAIN,0.518455
942504,69007_18,CAT,CAT,PLAIN,0.499965
943740,69093_5,ten years,10 years,MEASURE,0.497645
944199,69127_3,twenty seventeen,2017,DATE,0.531935
948197,69418_3,forty two years,42 years,MEASURE,0.528100
948776,69463_5,six seconds,6 seconds,MEASURE,0.492799
950959,69625_1,OB,OB,LETTERS,0.519268
951385,69655_13,three point three million square meters,3.3 million m²,MEASURE,0.523209
952630,69746_6,high-speed,high-speed,PLAIN,0.519512
953481,69805_12,kilometer per hour,km/h,PLAIN,0.483791
953926,69840_3,CUB,CUB,LETTERS,0.531953

In [6]:
mea_df = debug_df.loc[debug_df["class_pred"] == "MEASURE"]

In [6]:
def is_one(token):
    token = str(token)
    if " per " in token:
        for one in ["per square"]:
            if one in token:
                return False
        return True
#     if token.startswith("one ") and token.startswith("s"):
#         return True
    return False

In [7]:
debug_df.loc[np.logical_and(debug_df["class_pred"] == "MEASURE", debug_df["before"].apply(lambda s: str(s).endswith("s")))]

,id,after,before,class_pred
958,82_13,six years,6 years,MEASURE
1163,101_7,one point five centimetres,1.5 centimetres,MEASURE
1573,137_7,twenty eight years,28 years,MEASURE
2747,230_3,seven thousand acres,"7,000 acres",MEASURE
2749,230_5,two thousand eight hundred hectares,"2,800 hectares",MEASURE
3034,254_4,ninety thousand tons,"90,000 tons",MEASURE
4852,398_15,forty five years,45 years,MEASURE
8301,665_2,six years,6 years,MEASURE
9170,737_15,forty five minutes,45 minutes,MEASURE
9172,737_17,six hours,6 hours,MEASURE
10486,840_15,ten years,10 years,MEASURE
10697,853_13,ninety years,90 years,MEASURE
11482,916_12,five months,5 months,MEASURE
12941,1029_9,one hundred twelve square miles,112 square miles,MEASURE
12949,1030_3,two point five miles,2.5 miles,MEASURE
14126,1120_8,six hundred metres,600 metres,MEASURE
15108,1191_11,ninety minutes,90 minutes,MEASURE
15222,1199_4,ninety minutes,90 minutes,MEASURE
15224,1199_6,thirty minutes,30 minutes,MEASURE
15287,1203_12,one thousand six hundred years,"1,600 years",MEASURE
16716,1313_0,eleven months,11 months,MEASURE
17833,1397_5,twenty thousand tons,"20,000 tons",MEASURE
19417,1516_2,sixty years,60 years,MEASURE
20520,1593_3,twenty two years,22 years,MEASURE
21990,1702_12,fifteen years,15 years,MEASURE
25461,1978_10,seven years,7 years,MEASURE
25752,2004_10,fifteen months,15 months,MEASURE
29692,2302_10,twenty years,20 years,MEASURE
32246,2502_17,ten metres,10 metres,MEASURE
33074,2563_14,zero point five square miles,0.5 square miles,MEASURE
...,...,...,...,...
908167,66540_1,seven hundred acres,700 acres,MEASURE
911503,66781_0,thirty years,30 years,MEASURE
913186,66904_12,three thousand metres,3000 metres,MEASURE
916516,67142_9,twenty four hours,24 hours,MEASURE
916684,67152_7,twenty four hours,24 hours,MEASURE
917492,67210_23,thirty months,30 months,MEASURE
918530,67283_16,twenty two years,22 years,MEASURE
920445,67421_8,twenty two point four square miles,22.4 square miles,MEASURE
923745,67666_9,fifteen years,15 years,MEASURE
926061,67831_5,fifteen kilometres,15 kilometres,MEASURE
927433,67928_15,one thousand six hundred metres,"1,600 metres",MEASURE
927570,67940_4,three thousand eight hundred fifty eight hectares,"3,858 hectares",MEASURE
927572,67940_6,nine thousand five hundred thirty acres,"9,530 acres",MEASURE
929208,68055_4,six hundred tons,600 tons,MEASURE
930715,68164_11,one point five nautical miles,1.5 nautical miles,MEASURE
935485,68503_1,forty nine ers,49ers,MEASURE
937552,68649_4,eighteen years,18 years,MEASURE
940469,68865_1,forty nine ers,49ers,MEASURE
943096,69047_8,seventy six ers,76ers,MEASURE
943488,69076_10,ten months,10 months,MEASURE
943740,69093_5,ten years,10 years,MEASURE
944002,69109_19,three minutes,3 minutes,MEASURE
944004,69109_21,six hundred forty two point one two ra grams m...,642.12 grams,MEASURE
944481,69149_7,fifteen years,15 years,MEASURE
946163,69273_4,forty nine ers,49ers,MEASURE
947273,69349_12,twenty seven yards,27 yards,MEASURE
948197,69418_3,forty two years,42 years,MEASURE
948776,69463_5,six seconds,6 seconds,MEASURE
949252,69498_4,one hundred twenty miles,120 miles,MEASURE
952351,69727_11,twenty one years,21 years,MEASURE

In [9]:
debug_df.loc[debug_df["after"].apply(is_one)]

,id,after,before,class_pred
24501,1904_6,seventeen kilo joules per grams,17 kJ/g,MEASURE
24503,1904_8,four kilo calories per grams,4 kcal/g,MEASURE
83431,6402_19,two hundred sixty kilo joules per cubic meters,260 kJ/m³,MEASURE
86428,6619_11,two hundred fifty kilometers per hour,250 km/h,MEASURE
86430,6619_13,one hundred sixty miles per hour,160 mph,MEASURE
92782,7111_19,fifteen n grams per deciliters,15 ng/dL,MEASURE
94996,7274_4,sixty miles per hour,60 mph,MEASURE
94998,7274_6,ninety seven kilometers per hour,97 km/h,MEASURE
106005,8103_5,twenty seven point eight l meters grams per mi...,27.8 mg/ml,MEASURE
112576,8591_5,one hundred five point five per our miles hour,105.5 miles per hour,MEASURE
112578,8591_7,one hundred sixty nine point eight kilometers ...,169.8 km/h,MEASURE
117100,8921_17,three thousand three hundred revolutions per m...,3300rpm,MEASURE
128170,9743_15,thirty four point three kilometers per hour,34.3 km/h,MEASURE
128172,9743_17,twenty one point three miles per hour,21.3 mph,MEASURE
138460,10513_8,zero point two three cubic meters per second,0.23 m³/s,MEASURE
179260,13523_11,sixty eight miles per hour,68 mph,MEASURE
181513,13685_8,one gigabit per second,1Gbps,MEASURE
199369,15013_17,sixty five miles per hour,65 mph,MEASURE
199371,15013_19,one hundred kilometers per hour,100 km/h,MEASURE
313786,23364_16,two hundred eight point six eight six miles pe...,208.686 mph,MEASURE
348831,25944_14,twenty four kilo joules per mole,24 kJ/mol,MEASURE
371789,27622_4,two hundred five kilometers per hour,205 km/h,MEASURE
371791,27622_6,one hundred twenty seven miles per hour,127 mph,MEASURE
390753,29000_14,seventy eight revolutions per minute,78rpm,MEASURE
403806,29963_8,two thousand eight hundred revolutions per minute,2800 rpm,MEASURE
412324,30581_14,twenty miles per hour,20 mph,MEASURE
444591,32931_21,thirty miles per hour,30 mph,MEASURE
473807,35051_5,twenty four thousand two hundred cubic meters ...,"24,200 m³/s",MEASURE
473811,35051_9,foot per second,ft/s,MEASURE
551596,40699_19,eighty kilograms per hectares,80 kg/ha,MEASURE
566415,41775_17,thirty five kilometers per hour,35 km/h,MEASURE
566417,41775_19,twenty two miles per hour,22 mph,MEASURE
599561,44161_17,sixteen point five miles per hour,16.5 mph,MEASURE
599563,44161_19,twenty six point six kilometers per hour,26.6 km/h,MEASURE
599567,44161_23,one thousand revolutions per minute,1000 rpm,MEASURE
648409,47673_14,one hundred eighty six cubic meters per second,186 m³/s,MEASURE
648413,47673_18,foot per second,ft/s,MEASURE
668990,49182_13,minus one thousand six hundred eighty per hect...,"-1,680/ha",MEASURE
687683,50524_5,five thousand two hundred sixty two kilometers...,5262 km/s,MEASURE
759848,55774_8,four hundred twelve per years,41/2 years,MEASURE
766502,56262_15,seventeen micrograms per milliliters,17 μg/ml,MEASURE
793422,58206_11,two hundred ninety nine meters grams per liters,299 mg/L,MEASURE
808004,59253_5,four thousand eight hundred fifty seven kilome...,4857 km/s,MEASURE
811003,59475_6,one thousand five hundred feet per second,"1,500 ft/s",MEASURE
811005,59475_8,four hundred sixty meters per second,460 m/s,MEASURE
855433,62677_9,eleven point seven two kilometers per hour,11.72 km/h,MEASURE
864605,63349_11,twenty K meters grams per kilograms,20 mg/Kg,MEASURE
868666,63641_5,two hundred two kilometers per hour,202 km/hr,MEASURE
944838,69174_6,one hundred Sv meters per years,100 mSv/yr,MEASURE
953473,69805_4,one hundred sixty kilometers per hour,160 km/h,MEASURE
953481,69805_12,kilometer per hour,km/h,LETTERS
953485,69805_16,three hundred thirty kilometers per hour,330 km/h,MEASURE

In [4]:
debug_df["class_pred"].value_counts()

PLAIN         688249
PUNCT         193491
DATE           27001
LETTERS        17317
CARDINAL       13162
VERBATIM        9920
MEASURE         2518
ORDINAL         1113
ELECTRONIC       815
DECIMAL          793
MONEY            532
DIGIT            462
TELEPHONE        353
TIME             152
FRACTION         106
ADDRESS           62
Name: class_pred, dtype: int64

In [20]:
debug_df.loc[debug_df["class_pred"] == "FRACTION"][50:]

,id,after,before,class_pred
551773,40712_19,eleven fifteenths,11/15,FRACTION
570080,42042_6,nine hundred eleven halves,911/2,FRACTION
572993,42254_6,one thousand seven hundred twenty one twenty s...,1721/22,FRACTION
575936,42460_8,one thousand eight hundred seventy ninety firsts,1870/91,FRACTION
575986,42463_15,minus one quarter,-1/4,FRACTION
576067,42470_4,minus one half,-1/2,FRACTION
578209,42622_18,fifty nine sixty firsts,59/61,FRACTION
583873,43037_12,fifth,5º,FRACTION
585029,43126_9,two hundred seventy two thousand fifteenths,270/2015,FRACTION
588066,43346_3,two fifths,2/5,FRACTION
601082,44266_3,four twentieths,4/20,FRACTION
605228,44577_14,one seventh,1/7,FRACTION
618100,45484_11,one half,1/2,FRACTION
638866,46980_4,twenty four sevenths,24/7,FRACTION
650145,47798_11,four and a half,4½,FRACTION
655022,48151_5,minus nine elevenths,-9/11,FRACTION
664399,48848_3,eleven eighty firsts,11 / 81,FRACTION
669378,49209_4,thirteen thirty firsts,13/31,FRACTION
674034,49539_13,twelve thousand five hundred sixty one twelve ...,12561/12562,FRACTION
678464,49865_9,one one hundredth,1/100,FRACTION
678502,49868_4,two eighteenths,2/18,FRACTION
690160,50712_5,thirty nine two thousand elevenths,39/2011,FRACTION
716899,52635_4,thirty two sixteenths,32/16,FRACTION
731267,53679_4,forty six and a quarter,46¼,FRACTION
741344,54412_6,two thousand seventeen three hundred seventy e...,2017/378,FRACTION
746557,54799_14,twenty eight forty fifths,28/45,FRACTION
762767,55985_5,twenty six twenty sevenths,26/27,FRACTION
767981,56372_9,two hundred seventy two thousand fifteenths,270/2015,FRACTION
775624,56928_2,three quarters,3/4,FRACTION
793978,58241_9,two hundred seventy two thousand fifteenths,270/2015,FRACTION
797621,58504_7,one sixth,1/6,FRACTION
818498,60008_9,two and a half,2 1/2,FRACTION
820341,60139_9,two hundred seventy two thousand fifteenths,270/2015,FRACTION
822938,60329_1,twenty four sevenths,24/7,FRACTION
835390,61232_9,one and a half,1 1/2,FRACTION
842384,61736_8,two halves,2/2,FRACTION
844419,61881_7,seventy seven fourteenths,77/14,FRACTION
853316,62530_2,fifty fiftieths,50/50,FRACTION
858437,62896_7,four twenty sixths,4/26,FRACTION
867781,63580_2,four hundred three hundred sixtieths,400/360,FRACTION
868734,63644_12,minus eleven thirty fourths,-11/34,FRACTION
878349,64368_7,one thousand four hundred eighty nine ninetieths,1489/90,FRACTION
893372,65469_9,two hundred seventy two thousand fifteenths,270/2015,FRACTION
897494,65781_11,one thousand eight hundred seventy four sevent...,1874/75,FRACTION
908091,66535_6,nine eighteenths,9/18,FRACTION
916951,67174_0,seven thousand four hundred seventy nine fourt...,7479/14,FRACTION
918072,67253_12,five twenty thirds,5/23,FRACTION
920938,67460_5,minus five fifths,-5/5,FRACTION
929904,68110_0,twenty two one thousand eight hundred seventy ...,22/1877,FRACTION
933049,68333_11,four thirds,4/3,FRACTION
933704,68378_1,two thirds,2/3,FRACTION
933713,68378_10,three quarters,3/4,FRACTION
935727,68519_14,four twenty firsts,4/21,FRACTION
935729,68519_16,four twenty fourths,4/24,FRACTION
938569,68722_9,thirteen one hundred firsts,13/101,FRACTION
943347,69065_6,three and a half,3½,FRACTION

In [6]:
debug_df.loc[debug_df["class_pred"] == "DATE"]

,id,after,before,class_pred
2,0_2,the thirty first of march twenty sixteen,2016-03-31,DATE
37,3_11,april twenty seventeen,April 2017,DATE
43,3_17,may twenty seventeen,May 2017,DATE
45,4_0,the twenty first of february twenty seventeen,21 February 2017,DATE
151,14_1,the fourth of march twenty seventeen,4 March 2017,DATE
165,16_1,march twenty eighth twenty seventeen,"March 28, 2017",DATE
205,20_1,april eighteenth twenty seventeen,"April 18, 2017",DATE
250,24_0,march ninth twenty seventeen,"March 9, 2017",DATE
253,25_1,twenty fifteen,2015,DATE
282,26_15,nineteen eighty two,1982,DATE
334,30_2,the seventeenth of june twenty sixteen,17 June 2016,DATE
339,31_3,two thousand one,2001,DATE
350,32_1,the fifteenth of august twenty sixteen,15 August 2016,DATE
357,33_5,twenty sixteen,2016,DATE
364,33_12,twenty seventeen,2017,DATE
370,33_18,twenty fifteen,2015,DATE
392,35_7,nineteen sixty nine,1969,DATE
442,40_5,nineteen fifty nine,1959,DATE
449,41_4,the thirteenth of march two thousand nine,2009-03-13,DATE
482,45_0,february fifteenth twenty seventeen,"February 15, 2017",DATE
511,46_27,twenty fourteen,2014,DATE
525,48_6,twenty sixteen,2016,DATE
529,49_1,may twenty fourteen,May 2014,DATE
548,50_3,nineteen sixties,1960s,DATE
636,53_32,the nineteenth of june twenty thirteen,2013-06-19,DATE
676,56_1,the tenth of june twenty sixteen,10 June 2016,DATE
693,57_15,june nineteen ninety two,June 1992,DATE
741,61_6,two thousand six,2006,DATE
747,61_12,two thousand nine,2009,DATE
758,62_4,the first of august two thousand four,1 August 2004,DATE
...,...,...,...,...
954927,69916_18,the thirteenth of december twenty sixteen,13.12.2016,DATE
954936,69917_4,the eighteenth of september twenty fifteen,2015-09-18,DATE
954950,69918_11,the ninth of may twenty fourteen,9 May 2014,DATE
954988,69921_1,twenty seventeen,2017,DATE
954996,69921_9,february eighth twenty seventeen,"February 8, 2017",DATE
955040,69924_4,two thousand two,2002,DATE
955063,69927_4,the fourth of may twenty sixteen,4 May 2016,DATE
955157,69933_1,nineteen seventeen,1917,DATE
955181,69936_0,march twenty fifth twenty eleven,"March 25, 2011",DATE
955212,69938_4,nineteen eighty nine,1989,DATE
955243,69941_4,nineteen thirty three,1933,DATE
955247,69941_8,nineteen fifty two,1952,DATE
955275,69943_5,nineteen eighty four,1984,DATE
955471,69956_20,nineteen thirty five,1935,DATE
955489,69959_7,nineteen thirty eight,1938,DATE
955491,69959_9,nineteen sixty six,1966,DATE
955521,69961_1,nineteen ninety eight,1998,DATE
955555,69963_2,twenty ten,2010,DATE
955595,69966_4,twenty ten,2010,DATE
955636,69970_2,the twenty sixth of october twenty sixteen,26 October 2016,DATE
955661,69972_5,one thousand four,1004,DATE
955667,69973_4,two thousand one,2001,DATE
955685,69975_5,two thousand nine,2009,DATE
955750,69981_1,twenty thirteen,2013,DATE
955792,69983_14,november two thousand three,November 2003,DATE
955797,69984_3,thirteen twenty one,1321,DATE
955857,69987_5,eighteen ninety,1890,DATE
955931,69991_3,nineteen eighty six,1986,DATE
955964,69993_4,august sixth twenty fifteen,"August 6, 2015",DATE
956019,69997_4,nineteen ten,1910,DATE

In [7]:
debug_df.head()

    id                                     after      before class_pred
0  0_0                                      Last        Last      PLAIN
1  0_1                                  modified    modified      PLAIN
2  0_2  the thirty first of march twenty sixteen  2016-03-31       DATE
3  0_3                                         .           .      PUNCT
4  1_0                                   There's     There's      PLAIN

In [12]:
SUB = str.maketrans("₀₁₂₃₄₅₆₇₈₉", "0123456789")
SUP = str.maketrans("⁰¹²³⁴⁵⁶⁷⁸⁹", "0123456789")
OTH = str.maketrans("፬", "4")
strange_list = list("₀₁₂₃₄₅₆₇₈₉⁰¹²³⁴⁵⁶⁷⁸⁹፬")
def is_strange(token):
    token = str(token)
    for c in strange_list:
        if c in token:
            return True
    return False

In [18]:
debug_df_2.loc[debug_df_2["before"] == "CO2"]

Empty DataFrame
Columns: [id, after, before, class_pred]
Index: []

In [14]:
debug_df_2.loc[np.logical_and(debug_df_2["after"].apply(is_strange), debug_df_2["class_pred"] != "VERBATIM")][:50]

,id,after,before,class_pred
3036,254_6,c o ₂,CO₂,LETTERS
8746,702_11,c b ₁,CB₁,LETTERS
8751,702_16,c b ₂,CB₂,LETTERS
26827,2086_1,ZnI₂,ZnI₂,PLAIN
61114,4713_6,n h ₄,NH₄,LETTERS
61129,4713_21,SiO₂,SiO₂,PLAIN
68839,5294_2,³,³,PUNCT
122376,9307_5,OH)₂,OH)₂,PLAIN
171822,12983_13,c h ₃,CH₃,LETTERS
182372,13747_18,CaCO₃,CaCO₃,PLAIN
183498,13833_6,n h ₃,NH₃,LETTERS
184013,13872_3,n o ₃,NO₃,LETTERS
187503,14128_7,¹,¹,PUNCT
234681,17605_15,SiO₂,SiO₂,PLAIN
237750,17825_3,H₂O,H₂O,PLAIN
255699,19117_10,Cu₃O₇,Cu₃O₇,PLAIN
283437,21158_4,CCl₄,CCl₄,PLAIN
286533,21373_16,H₂O,H₂O,PLAIN
290193,21644_20,CaCO₃,CaCO₃,PLAIN
294380,21953_12,PI₃,PI₃,PLAIN
302331,22527_4,nine hundred ninety one ³ kilometers,991 km³,MEASURE
302342,22527_15,twenty thousand three hundred ninety nine poin...,"20,399.00 km³",MEASURE
333882,24855_2,H₂O,H₂O,PLAIN
345085,25673_18,c h ₂,CH₂,LETTERS
352944,26225_3,seventy ³ kilometers,70 km³,MEASURE
352955,26225_14,one thousand two hundred twenty point o o ³ ki...,"1,220.00 km³",MEASURE
376626,27976_11,Zn(OH)₂,Zn(OH)₂,PLAIN
404141,29987_4,TiO₂,TiO₂,PLAIN
426548,31634_9,C₁₀H₆,C₁₀H₆,PLAIN
426550,31634_11,SO₃,SO₃,PLAIN
426554,31634_15,n h ₂,NH₂,LETTERS
462067,34174_3,CaCO₃,CaCO₃,PLAIN
465882,34473_10,MnS₂,MnS₂,PLAIN
466527,34516_10,¹,¹,PUNCT
488061,36090_13,o ₂ n ) ₃,O₂N)₃,LETTERS
488062,36090_14,C₆H₂,C₆H₂,PLAIN
494675,36560_3,s n ₂,SN₂,LETTERS
509518,37667_2,n h ₃,NH₃,LETTERS
512063,37847_17,C₁₉H₁₆,C₁₉H₁₆,PLAIN
513411,37950_19,AlCl₃,AlCl₃,PLAIN
576148,42475_26,SO₂,SO₂,PLAIN
588061,43345_9,c a ₃ ( a s o ₄ ) ₂,Ca₃(AsO₄)₂,LETTERS
589138,43418_6,³,³,PUNCT
618251,45496_13,SiO₅,SiO₅,PLAIN
627088,46131_13,P₄S₄,P₄S₄,PLAIN
637917,46911_16,c o ) ₃,CO)₃,LETTERS
640800,47123_15,zero point o six two ³ kilometers,0.062 km³,MEASURE
657881,48369_11,F₁F₂,F₁F₂,PLAIN
674051,49540_11,c ₃ h,C₃H,LETTERS
686892,50464_9,Mg₃B₇,Mg₃B₇,PLAIN

In [14]:
def has_measure_string(token):
    token = str(token)
    mea_strs = ['years', 'year', 'months', 'month', 'weeks', 'week', 'days', 'day',
                'hours', 'minutes', 'min', 'seconds', 'nautical', 'acres', 'hectares',
                'tonnes', 'tons', 'kilobytes', 'nanobarns', 'square', 'miles', 'kilometres',
                'kilometre', 'kilometers', 'kilometer', 'meters', 'meter', 'metres', 'metre',
                'feet', 'yards', 'barrels', 'calories', 'watts', 'knots', 'inches', 'pounds',
                'degrees', 'bar', 'Cellos']
    for one in mea_strs:
        if one in token:
            return True
    return False

mea_str_df = debug_df_2.loc[debug_df_2["before"].apply(has_measure_string)]

In [18]:
mea_str_df.loc[np.logical_and(mea_str_df["class_pred"] != "PLAIN", mea_str_df["class_pred"] != "MEASURE")]["class_pred"].value_counts()

DATE          165
MONEY          25
ELECTRONIC     16
VERBATIM       10
CARDINAL        1
TELEPHONE       1
Name: class_pred, dtype: int64

In [22]:
mea_str_df.loc[mea_str_df["class_pred"] == "MONEY"]

,id,after,before,class_pred
1163,101_7,1.5 centimetres,1.5 centimetres,MONEY
74417,5729_12,3.18 square,3.18 square,MONEY
86249,6604_7,ten kilomete rupees,10 kilometers,MONEY
140961,10708_9,"33,644 tons","33,644 tons",MONEY
155361,11773_10,4.4 million barrels,4.4 million barrels,MONEY
162680,12309_9,"80,000 square","80,000 square",MONEY
164021,12405_16,fifteen million yea rupees,15 million years,MONEY
170469,12879_16,ninety three million yea rupees,93 million years,MONEY
170472,12879_19,sixty eight thousand yea rupees,"68,000 years",MONEY
234740,17609_5,ninety six million yea rupees,96 million years,MONEY
303692,22628_8,zero point eight four million yea rupees,0.84 million years,MONEY
319450,23781_7,three point two million yea rupees,3.2 million years,MONEY
488571,36128_19,"60,000 tons","60,000 tons",MONEY
506892,37468_15,ten thousand kilomete rupees,"10,000 kilometers",MONEY
516776,38194_8,one point two six kilomete rupees,1.26 kilometers,MONEY
560796,41361_6,"73,345 hectares","73,345 hectares",MONEY
565347,41697_5,0.81 square,0.81 square,MONEY
649856,47780_6,"2,400 millimetres","2,400 millimetres",MONEY
670929,49312_9,ten thousand yea rupees,"10,000 years",MONEY
697509,51235_7,sixty million light yea rupees,60 million light years,MONEY
698515,51301_12,twelve thousand yea rupees,"12,000 years",MONEY
702898,51612_0,two hundred ninety million yea rupees,290 million years,MONEY
732059,53738_6,"5,520 square","5,520 square",MONEY
762535,55971_6,two hundred fifty two million light yea rupees,252 million light years,MONEY
786805,57728_20,900 tons,900 tons,MONEY

In [8]:
debug_df_2.loc[debug_df_2["after"].apply(lambda s: "odd!~!" in str(s))][:50]

,id,after,before,class_pred
166872,12610_18,odd!~! four hundredth zero zero,"E£ 400,000",DATE
457101,33828_8,the fourth of odd!~! twenty seventeen,4 16 2017,DATE
537491,39677_9,the eight hundred and eightieth of odd!~!,880 CE.,DATE
769590,56482_6,the tenth of odd!~!,10 4-6-2,DATE