In [1]:
import pandas as pd
import numpy as np
import re
import pickle as pkl

In [2]:
# valid_name = "../output/valid_compare_16.v2.csv"
valid_name = "../output/train_compare_16.v2.csv"

In [3]:
train_df = pd.read_csv('../input/en_train.csv')

In [8]:
valid_df = pd.read_csv(valid_name)
valid_df.shape

(6415, 4)

In [5]:
train_df.iloc[[885, 886, 887]]

     sentence_id  token_id  class   before       after
885           67         0  PLAIN       In          In
886           67         1   DATE     2010  twenty ten
887           67         2  PLAIN  Sadovyi     Sadovyi

In [6]:
train_df.iloc[[33087, 33088, 33089, 33090, 33091, 33092]]

       sentence_id  token_id     class      before                after
33087         2631        11     PLAIN  Exceptions           Exceptions
33088         2631        12     PLAIN      Report               Report
33089         2631        13  CARDINAL        2010     two thousand ten
33090         2631        14     PUNCT           -                    -
33091         2631        15  CARDINAL        2011  two thousand eleven
33092         2631        16     PUNCT           ,                    ,

In [25]:
train_df.iloc[[36938, 36939, 36940, 36941, 36942]]

       sentence_id  token_id     class before                after
36938         2941         7     PLAIN     in                   in
36939         2941         8  CARDINAL   2010     two thousand ten
36940         2941         9     PUNCT      -                    -
36941         2941        10  CARDINAL   2011  two thousand eleven
36942         2941        11     PLAIN     at                   at

In [7]:
valid_df

                                       after    before      true class_pred
0                          lead two sulphate     PbSO4     PLAIN    LETTERS
1                                    p o m z      POMZ   LETTERS      PLAIN
2                                    b o e v      Boev   LETTERS      PLAIN
3                                        SHU       SHU     PLAIN    LETTERS
4                                p i a l a t    PIALAT   LETTERS      PLAIN
5         one thousand nine hundred eighteen      1918  CARDINAL       DATE
6                                   corporal       CPL     PLAIN    LETTERS
7                                    j o e p      Joep   LETTERS      PLAIN
8                                        ITA       ITA     PLAIN    LETTERS
9                                          W         W     PLAIN    LETTERS
10                                   e e m a      Eema   LETTERS      PLAIN
11           one thousand nine hundred eight      1908  CARDINAL       DATE
12    one thousand nine hundred twenty three      1923  CARDINAL       DATE
13     one thousand nine hundred twenty four      1924  CARDINAL       DATE
14                                     t a's       Tas   LETTERS      PLAIN
15                         two thousand nine      2009  CARDINAL       DATE
16                               c e n s o s    CENSOS   LETTERS      PLAIN
17                  two hundred eighty seven       287   DECIMAL   CARDINAL
18                                   fifteen        15   DECIMAL   CARDINAL
19                     nineteen eighty three      1983      DATE   CARDINAL
20                                   t h n g      Thng  VERBATIM      PLAIN
21                                   u b o's      Ubos   LETTERS      PLAIN
22                                     p o a       Poa   LETTERS      PLAIN
23                                   r o d t      Rodt   LETTERS      PLAIN
24                                         N         N     PLAIN    LETTERS
25                      two thousand fifteen      2015  CARDINAL       DATE
26                                  mountain       MTN     PLAIN    LETTERS
27                                     s u o       Suo   LETTERS      PLAIN
28                                 c o m d r     Comdr   LETTERS      PLAIN
29                                     EXCEL     EXCEL     PLAIN    LETTERS
...                                      ...       ...       ...        ...
6385                                 a o i z      Aoiz   LETTERS      PLAIN
6386                                       A         A     PLAIN    LETTERS
6387                                 s r e e      Sree   LETTERS      PLAIN
6388   one thousand nine hundred ninety nine      1999  CARDINAL       DATE
6389                                    nine         9   DECIMAL   CARDINAL
6390                                       K         K     PLAIN    LETTERS
6391                         g o d i s n j a  GODISNJA   LETTERS      PLAIN
6392                                   n e a       Nea   LETTERS      PLAIN
6393                                 g a c i      Gaci   LETTERS      PLAIN
6394  three thousand four hundred forty four      3444  CARDINAL      DIGIT
6395                                       K         K     PLAIN    LETTERS
6396        five thousand one hundred ninety      5190  CARDINAL      DIGIT
6397                    one hundred thirteen       113   DECIMAL   CARDINAL
6398                                     NIG       NIG     PLAIN    LETTERS
6399                                 n e e a      Neea   LETTERS      PLAIN
6400                                 v r i n      Vrin   LETTERS      PLAIN
6401                                 n e h i      Nehi   LETTERS      PLAIN
6402                                   n e k       Nek   LETTERS      PLAIN
6403                                   g o i       Goi   LETTERS      PLAIN
6404                                 a r i n      Arin   LETTERS      PLAIN
6405                                   s e d       Sed   LETTERS      PLAIN
6406                                 h i a s      hias   LETTERS      PLAIN
6407                                   a u t       aut   LETTERS      PLAIN
6408                              twenty ten      2010      DATE   CARDINAL
6409                        two thousand one      2001      DATE   CARDINAL
6410                                     a b        AB   LETTERS      PLAIN
6411                                   z k p       zkp   LETTERS      PLAIN
6412                                   n a r       NAR   LETTERS      PLAIN
6413                                 p u b l      publ   LETTERS      PLAIN
6414                                   v u n       vun   LETTERS      PLAIN

[6415 rows x 4 columns]

In [20]:
labels = ['PLAIN', 'PUNCT', 'DATE', 'LETTERS', 'CARDINAL', 'VERBATIM',
          'DECIMAL', 'MEASURE', 'MONEY', 'ORDINAL', 'TIME', 'ELECTRONIC',
          'DIGIT', 'FRACTION', 'TELEPHONE', 'ADDRESS']
label2index = dict(zip(labels, range(len(labels))))
index2label = dict([(v, k) for k, v in label2index.items()])

In [13]:
def is_com(token):
    token = str(token)
    pt = re.compile(r"\.[a-zA-Z]{2,}")
    return True if pt.search(token) else False

In [12]:
def is_year(token):
    token = str(token)
    return token.isdigit() and len(token) == 4 and int(token) <= 3000 and int(token) >= 1000

In [21]:
with open("../output/letter_set.pkl", "rb") as f:
    letter_set = pkl.load(f)

In [22]:
count = 0
for i, row in valid_df.iterrows():
    # 1.被误认为是cardinal的实际上的date的年份
    if row["class_pred"] == "CARDINAL":
        if is_year(row["before"]):
            # 不能直接修改row，因为row是副本
            valid_df.loc[i, "class_pred"] = "DATE"
            count += 1
    elif row["class_pred"] == "PLAIN":
        # 2.被误认为是plain的实际上的electronic的网站
        if is_com(row["before"]):
            valid_df.loc[i, "class_pred"] = "ELECTRONIC"
            count += 1
        # 3.被误认为是plain的实际上是letters
        elif row["before"] in letter_set:
            valid_df.loc[i, "class_pred"] = "LETTERS"
            count += 1
    elif row["class_pred"] == "LETTERS":
        if row["before"] not in letter_set:
            valid_df.loc[i, "class_pred"] = "PLAIN"
            count += 1
print(count)

4589

In [14]:
card_df = train_df.loc[np.logical_and(train_df["class"] == "CARDINAL", train_df["before"].apply(is_year))]

In [15]:
card_next_df = train_df.loc[card_df.index+1]
card_next_df.shape

(4066, 5)

In [18]:
card_next_df["before"].value_counts()

-                 1553
/                  692
:                  330
"                  263
.                  254
,                  139
season              83
)                   79
school              58
(                   38
and                 18
in                  14
people              12
player              11
he                   9
metres               9
Season               8
males                8
to                   7
females              7
was                  7
year                 6
academic             6
is                   5
with                 5
a                    5
meters               5
at                   5
b                    5
by                   5
                  ...
-1975                1
under                1
XT                   1
-1955                1
Sheridan             1
-1967                1
households           1
Check                1
within               1
pages                1
Commonwealth         1
Thornton             1
Greeks               1
Senior               1
Konkani              1
Paris                1
Director             1
maintains            1
Armenian             1
Seite                1
east                 1
Session              1
My                   1
-62                  1
Rio                  1
8.4                  1
Dol                  1
Reconnaissance       1
Guv                  1
G                    1
Name: before, Length: 377, dtype: int64

In [24]:
1553. / 4066

0.381947860304968

In [1]:
139. / 4066

0.03418593212001968

In [16]:
date_df = train_df.loc[np.logical_and(train_df["class"] == "DATE", train_df["before"].apply(is_year))]

In [17]:
date_next_df = train_df.loc[date_df.index+1]
date_next_df.shape

(147608, 5)

In [23]:
4818 / 147608.

0.0326405072895778

In [19]:
date_next_df["before"].value_counts()

)                 34796
.                 31937
,                 28507
-                  4818
and                4674
to                 3108
"                  2974
he                 2166
:                  1625
the                1591
census             1500
by                 1027
(                  1017
in                  852
as                  630
season              623
;                   536
with                517
Summer              425
it                  421
was                 414
she                 397
Census              389
World               373
at                  360
until               351
for                 349
when                326
a                   291
film                256
                  ...
Taniguchi             1
Brill                 1
KJDL                  1
Hrdy                  1
Niel                  1
Mexborough            1
Greater               1
operation             1
Suomi                 1
palm                  1
Manju                 1
OIA                   1
Dettori               1
RO                    1
Christian             1
meets                 1
Ross                  1
Good                  1
Alas                  1
Kang                  1
Classification        1
espionage             1
third                 1
Jan 3                 1
R&B-                  1
surf                  1
lawyers               1
Dejavu                1
Pirelli               1
Albanian              1
Name: before, Length: 7312, dtype: int64

In [47]:
next_df.loc[next_df["before"] == "-"]

         sentence_id  token_id     class before after
5452             441        20     PUNCT      -     -
6262             507        10     PUNCT      -     -
18064           1465        16     PUNCT      -     -
18793           1519        18     PUNCT      -     -
19730           1589         7     PUNCT      -     -
19868           1600        14     PUNCT      -     -
32379           2574         5     PUNCT      -     -
32961           2620        11     PUNCT      -     -
33090           2631        14     PUNCT      -     -
36940           2941         9     PUNCT      -     -
37758           3003         8     PUNCT      -     -
47028           3766        14     PUNCT      -     -
50023           4018         1     PUNCT      -     -
55895           4500         1     PUNCT      -     -
57807           4658         5     PUNCT      -     -
58288           4696         8     PLAIN      -    to
61968           4994         2     PUNCT      -     -
63603           5120         8     PUNCT      -     -
84560           6787        16     PUNCT      -     -
95088           7611         2     PUNCT      -     -
101592          8126        20     PUNCT      -     -
105083          8419        10     PUNCT      -     -
114230          9142         4     PLAIN      -    to
114321          9150         8     PLAIN      -    to
114444          9163         4     PLAIN      -    to
116881          9367        10     PUNCT      -     -
117023          9379         5     PUNCT      -     -
118900          9526         4     PLAIN      -    to
119171          9550         4     PLAIN      -    to
119198          9553         4     PLAIN      -    to
...              ...       ...       ...    ...   ...
9672373       729940        20     PUNCT      -     -
9680053       730486        13     PUNCT      -     -
9690865       731279         9     PUNCT      -     -
9690872       731279        16     PUNCT      -     -
9704247       732274        17     PUNCT      -     -
9713027       732931         5     PUNCT      -     -
9715047       733076         7     PUNCT      -     -
9739892       734890        15     PUNCT      -     -
9754593       735985         1     PUNCT      -     -
9754599       735986         1     PUNCT      -     -
9758875       736296        13     PUNCT      -     -
9764782       736738        19     PUNCT      -     -
9777378       737660        16     PUNCT      -     -
9781961       737992         5     PUNCT      -     -
9791586       738694        13     PUNCT      -     -
9791632       738697         6     PUNCT      -     -
9796188       739041         2     PUNCT      -     -
9799777       739308        17     PUNCT      -     -
9802544       739511         6  VERBATIM      -     -
9803670       739594        10     PUNCT      -     -
9828042       741386        11     PUNCT      -     -
9834197       741841         8     PUNCT      -     -
9838317       742146        10     PUNCT      -     -
9855194       743405        16     PUNCT      -     -
9868013       744362         9     PUNCT      -     -
9870527       744548         3     PUNCT      -     -
9878700       745116         2     PUNCT      -     -
9884795       745571        11     PUNCT      -     -
9901598       746824         2     PUNCT      -     -
9911684       747572         4     PLAIN      -    to

[1553 rows x 5 columns]

In [37]:
train_df.iloc[[9868011, 9868012, 9868013]]

         sentence_id  token_id     class before               after
9868011       744362         7     PLAIN    the                 the
9868012       744362         8  CARDINAL   2007  two thousand seven
9868013       744362         9     PUNCT      -                   -

In [45]:
diff_df = valid_df.loc[valid_df["true"] != valid_df["class_pred"]]
diff_df.shape

(1847, 4)

In [10]:
diff_df["true"].value_counts()

CARDINAL     912
DIGIT        338
LETTERS      300
DECIMAL      136
VERBATIM      84
PLAIN         40
PUNCT         15
DATE          12
ORDINAL        5
TIME           1
FRACTION       1
ADDRESS        1
TELEPHONE      1
MONEY          1
Name: true, dtype: int64

In [11]:
diff_df["class_pred"].value_counts()

DATE          826
CARDINAL      452
PLAIN         374
DIGIT         119
LETTERS        25
PUNCT          25
VERBATIM       20
TELEPHONE       2
MEASURE         1
ELECTRONIC      1
ORDINAL         1
MONEY           1
Name: class_pred, dtype: int64

In [18]:
diff_df

,after,before,true,class_pred
0,o seven,07,DIGIT,CARDINAL
3,utenlandskorrespondentene,utenlandskorrespondentene,PLAIN,ELECTRONIC
5,p t x,ptx,VERBATIM,LETTERS
9,one,I,CARDINAL,PLAIN
11,one thousand nine hundred four,1904,CARDINAL,DATE
15,nine,9,DIGIT,CARDINAL
17,one thousand nine hundred seventy eight,1978,CARDINAL,DATE
18,to,-,PLAIN,PUNCT
19,two hundred eighty three,283,DECIMAL,CARDINAL
20,two,2,DIGIT,CARDINAL
24,three three o o,3300,DIGIT,CARDINAL
26,two thousand twelve,2012,CARDINAL,DATE
28,two thousand eleven,2011,CARDINAL,DATE
36,n e,NE,LETTERS,PLAIN
38,one thousand nine hundred forty two,1942,CARDINAL,DATE
43,eight one two three,8123,DIGIT,CARDINAL
44,nine one one,911,TELEPHONE,CARDINAL
47,two thousand eight,2008,CARDINAL,DATE
49,four one,41,DIGIT,CARDINAL
51,one thousand,1000,CARDINAL,DATE
59,o nine o seven three one eight o three seven,0907318037,DIGIT,TELEPHONE
61,the fifth,V.,ORDINAL,LETTERS
66,eighty,80,DECIMAL,CARDINAL
67,one thousand nine hundred ninety five,1995,CARDINAL,DATE
68,one hundred six,106,DECIMAL,CARDINAL
69,twenty two thousand six hundred twenty four tw...,22624 / 23,FRACTION,TELEPHONE
72,twenty thirteen,2013,DATE,DIGIT
76,one thousand nine hundred twenty six,1926,CARDINAL,DATE
82,i o o one,I 001,ADDRESS,MONEY
90,I,I,LETTERS,PLAIN
...,...,...,...,...
117,two o one one,2011,DIGIT,DATE
120,seventeen million four hundred forty one thous...,17441692.2013,DECIMAL,CARDINAL
125,nine hundred twenty five,925,DECIMAL,CARDINAL
129,two thousand five,2005,CARDINAL,DATE
139,one thousand nine hundred eighty nine,1989,CARDINAL,DATE
142,one four,14,DIGIT,CARDINAL
144,one thousand nine hundred seven,1907,CARDINAL,DATE
145,two,2,DIGIT,CARDINAL
146,c g m p,cGMP,VERBATIM,PLAIN
147,ten twenty seven,1027,DATE,DIGIT
150,v,v,LETTERS,PLAIN
153,two,2,DECIMAL,CARDINAL
155,forty nine,49,DECIMAL,CARDINAL
162,two thousand six,2006,CARDINAL,DATE
163,one nine,19,DIGIT,CARDINAL
167,s r c c,Srcc,VERBATIM,PLAIN
168,to,-,PLAIN,PUNCT
171,a h,AH,LETTERS,PLAIN
174,one thousand nine hundred ninety nine,1999,CARDINAL,DATE
175,c v,cv,VERBATIM,LETTERS
177,D,D,LETTERS,PLAIN
184,c j,cj,VERBATIM,LETTERS
185,p b,pb,LETTERS,VERBATIM
187,n g,ng,LETTERS,PLAIN
191,six seven seven,677,DIGIT,CARDINAL
194,thirteen thousand four hundred fifty eight,13458,CARDINAL,DIGIT
195,the second,II,ORDINAL,CARDINAL
196,three,3,DIGIT,CARDINAL
202,one hundred forty six,146,CARDINAL,DIGIT
204,two,2,DIGIT,CARDINAL

In [17]:
diff_df.loc[diff_df["true"] == "DIGIT"]

,after,before,true,class_pred
0,o seven,07,DIGIT,CARDINAL
15,nine,9,DIGIT,CARDINAL
20,two,2,DIGIT,CARDINAL
24,three three o o,3300,DIGIT,CARDINAL
43,eight one two three,8123,DIGIT,CARDINAL
49,four one,41,DIGIT,CARDINAL
59,o nine o seven three one eight o three seven,0907318037,DIGIT,TELEPHONE
103,four o two,402,DIGIT,CARDINAL
109,one o o nine,1009,DIGIT,DATE
117,two o one one,2011,DIGIT,DATE
142,one four,14,DIGIT,CARDINAL
145,two,2,DIGIT,CARDINAL
163,one nine,19,DIGIT,CARDINAL
191,six seven seven,677,DIGIT,CARDINAL
196,three,3,DIGIT,CARDINAL
204,two,2,DIGIT,CARDINAL

In [12]:
diff_df.loc[diff_df["true"] == "CARDINAL"]

                                        after before      true class_pred
5          one thousand nine hundred eighteen   1918  CARDINAL       DATE
11            one thousand nine hundred eight   1908  CARDINAL       DATE
12     one thousand nine hundred twenty three   1923  CARDINAL       DATE
13      one thousand nine hundred twenty four   1924  CARDINAL       DATE
15                          two thousand nine   2009  CARDINAL       DATE
25                       two thousand fifteen   2015  CARDINAL       DATE
34     one thousand nine hundred eighty eight   1988  CARDINAL       DATE
35      one thousand nine hundred eighty nine   1989  CARDINAL       DATE
37                         two thousand eight   2008  CARDINAL       DATE
38                         two thousand three   2003  CARDINAL       DATE
39                          two thousand four   2004  CARDINAL       DATE
47                      two thousand thirteen   2013  CARDINAL       DATE
48                      two thousand fourteen   2014  CARDINAL       DATE
52                                        two      2  CARDINAL      DIGIT
56     one thousand nine hundred seventy five   1975  CARDINAL       DATE
57      one thousand nine hundred seventy six   1976  CARDINAL       DATE
58      one thousand nine hundred forty eight   1948  CARDINAL       DATE
64    one thousand nine hundred seventy seven   1977  CARDINAL       DATE
70         one thousand nine hundred eighteen   1918  CARDINAL       DATE
71         one thousand nine hundred nineteen   1919  CARDINAL       DATE
73       one thousand nine hundred ninety one   1991  CARDINAL       DATE
85               one thousand six hundred one   1601  CARDINAL       DATE
97                               two thousand   2000  CARDINAL       DATE
118                        two thousand seven   2007  CARDINAL       DATE
131                                      four      4  CARDINAL      DIGIT
135           one thousand nine hundred fifty   1950  CARDINAL       DATE
136       one thousand nine hundred fifty one   1951  CARDINAL       DATE
151          one thousand nine hundred thirty   1930  CARDINAL       DATE
163                                       one      1  CARDINAL      DIGIT
175                                   sixteen     16  CARDINAL      DIGIT
...                                       ...    ...       ...        ...
6163                         two thousand six   2006  CARDINAL       DATE
6164                       two thousand seven   2007  CARDINAL       DATE
6167     one thousand nine hundred twenty six   1926  CARDINAL       DATE
6174                       two thousand eight   2008  CARDINAL       DATE
6186   one thousand nine hundred ninety seven   1997  CARDINAL       DATE
6197                         two thousand ten   2010  CARDINAL       DATE
6205                                      two      2  CARDINAL      DIGIT
6220    one thousand nine hundred seventy one   1971  CARDINAL       DATE
6221    one thousand nine hundred seventy two   1972  CARDINAL       DATE
6222                         two thousand six   2006  CARDINAL       DATE
6246                         two thousand six   2006  CARDINAL       DATE
6249                                 eighteen     18  CARDINAL      DIGIT
6255    one thousand nine hundred ninety five   1995  CARDINAL       DATE
6257                       two thousand seven   2007  CARDINAL       DATE
6258                       two thousand eight   2008  CARDINAL       DATE
6279                                      two      2  CARDINAL      DIGIT
6287    one thousand nine hundred forty eight   1948  CARDINAL       DATE
6289   one thousand three hundred twenty nine   1329  CARDINAL       DATE
6295                                      two      2  CARDINAL      DIGIT
6296                                      one      1  CARDINAL      DIGIT
6306                      two thousand twelve   2012  CARDINAL       DATE
6307                      two thousand twelve   2012  CARDINAL       DATE
6318    one thousand nine hundred eighty five   1985  CARDINAL       DATE
6324                         two thousand ten   2010  CARDINAL       DATE
6358                      two thousand twelve   2012  CARDINAL       DATE
6368                         two thousand ten   2010  CARDINAL       DATE
6383                                      one      1  CARDINAL      DIGIT
6388    one thousand nine hundred ninety nine   1999  CARDINAL       DATE
6394   three thousand four hundred forty four   3444  CARDINAL      DIGIT
6396         five thousand one hundred ninety   5190  CARDINAL      DIGIT

[912 rows x 4 columns]

In [14]:
diff_df.loc[np.logical_and(diff_df["true"] == "DIGIT", diff_df["class_pred"] == "CARDINAL")]

                   after before   true class_pred
0                o seven     07  DIGIT   CARDINAL
15                  nine      9  DIGIT   CARDINAL
20                   two      2  DIGIT   CARDINAL
24       three three o o   3300  DIGIT   CARDINAL
43   eight one two three   8123  DIGIT   CARDINAL
49              four one     41  DIGIT   CARDINAL
103           four o two    402  DIGIT   CARDINAL
142             one four     14  DIGIT   CARDINAL
145                  two      2  DIGIT   CARDINAL
163             one nine     19  DIGIT   CARDINAL
191      six seven seven    677  DIGIT   CARDINAL
196                three      3  DIGIT   CARDINAL
204                  two      2  DIGIT   CARDINAL

In [15]:
diff_df.loc[diff_df["true"] == "LETTERS"]

    after before     true class_pred
36    n e     NE  LETTERS      PLAIN
90      I      I  LETTERS      PLAIN
150     v      v  LETTERS      PLAIN
171   a h     AH  LETTERS      PLAIN
177     D      D  LETTERS      PLAIN
185   p b     pb  LETTERS   VERBATIM
187   n g     ng  LETTERS      PLAIN

In [10]:
lp_df = diff_df.loc[np.logical_and(diff_df["true"] == "LETTERS", diff_df["class_pred"] == "PLAIN")]
lp_df.shape

(643, 3)

In [11]:
pl_df = diff_df.loc[np.logical_and(diff_df["true"] == "PLAIN", diff_df["class_pred"] == "LETTERS")]
pl_df.shape

(377, 3)

In [14]:
with open("../output/letter_set.pkl", "rb") as f:
    letter_set = pkl.load(f)
len(letter_set)

224397

In [15]:
count = 0
for one in lp_df["before"].values:
    if one in letter_set:
        count += 1
print(count)

590

In [16]:
count = 0
for one in pl_df["before"].values:
    if one in letter_set:
        count += 1
print(count)

0