In [13]:
import pandas as pd
import numpy as np
import re
import pickle as pkl

In [2]:
valid_name = "../output/valid_compare_16.v3.csv"

In [3]:
valid_df = pd.read_csv(valid_name)

In [4]:
valid_df

                         before        true  class_pred
0            washingtonpost.com  ELECTRONIC       PLAIN
1                           OWN       PLAIN     LETTERS
2                            07       DIGIT    CARDINAL
3                SoundersFC.com  ELECTRONIC       PLAIN
4                           OAM     LETTERS       PLAIN
5     utenlandskorrespondentene       PLAIN  ELECTRONIC
6                             -       PLAIN       PUNCT
7                HybridCars.com  ELECTRONIC       PLAIN
8                          1990    CARDINAL        DATE
9                          1992    CARDINAL        DATE
10                           fl     LETTERS       PLAIN
11                          END       PLAIN     LETTERS
12                        CITES       PLAIN     LETTERS
13                          SES     LETTERS       PLAIN
14                            I    CARDINAL       PLAIN
15                            r     LETTERS       PLAIN
16           Waldviertelnews.at  ELECTRONIC       PLAIN
17                         1904    CARDINAL        DATE
18                          zkp     LETTERS       PLAIN
19                           Dy     LETTERS       PLAIN
20                          Cik     LETTERS       PLAIN
21                            9       DIGIT    CARDINAL
22                         1978    CARDINAL        DATE
23                          283     DECIMAL    CARDINAL
24                          ALP       PLAIN     LETTERS
25                            2       DIGIT    CARDINAL
26               Popmatters.com  ELECTRONIC       PLAIN
27                           IV     ORDINAL     LETTERS
28                        NOW's       PLAIN     LETTERS
29                       1029's        DATE       DIGIT
...                         ...         ...         ...
1462                       TRAP     LETTERS       PLAIN
1463                       HEKE     LETTERS       PLAIN
1464                         ve     LETTERS       PLAIN
1465                         MT       PLAIN     LETTERS
1466                       SPEC       PLAIN     LETTERS
1467                       ROCK       PLAIN     LETTERS
1468                        Bae     LETTERS       PLAIN
1469                          v     LETTERS       PLAIN
1470                        FIN       PLAIN     LETTERS
1471                5 degrees C     MEASURE        DATE
1472                       1965    CARDINAL        DATE
1473                         yr       PLAIN     LETTERS
1474                        Vyd     LETTERS       PLAIN
1475                       SAML     LETTERS       PLAIN
1476                       2009    CARDINAL        DATE
1477                       2010    CARDINAL        DATE
1478                       1998    CARDINAL        DATE
1479                       KOKC     LETTERS       PLAIN
1480                       DoPT     LETTERS       PLAIN
1481                        Bei     LETTERS       PLAIN
1482                        ILP     LETTERS       PLAIN
1483                         LI     LETTERS       PLAIN
1484                         AN       PLAIN     LETTERS
1485                        NYE       PLAIN     LETTERS
1486                        EAC     LETTERS       PLAIN
1487                         KS       PLAIN     LETTERS
1488                       Além     LETTERS       PLAIN
1489                        Oum     LETTERS       PLAIN
1490                     140.7%     MEASURE     DECIMAL
1491                         FO       PLAIN     LETTERS

[1492 rows x 3 columns]

In [5]:
labels = ['PLAIN', 'PUNCT', 'DATE', 'LETTERS', 'CARDINAL', 'VERBATIM',
          'DECIMAL', 'MEASURE', 'MONEY', 'ORDINAL', 'TIME', 'ELECTRONIC',
          'DIGIT', 'FRACTION', 'TELEPHONE', 'ADDRESS']
label2index = dict(zip(labels, range(len(labels))))
index2label = dict([(v, k) for k, v in label2index.items()])

In [6]:
def is_com(token):
    token = str(token)
    pt = re.compile(r"\.[a-zA-Z]{2,}")
    return True if pt.search(token) else False

In [7]:
count = 0
for i, row in valid_df.iterrows():
    # 1.被误认为是cardinal的实际上的date的年份
    if row["class_pred"] == "CARDINAL":
        if row["before"].isdigit() and int(row["before"]) <= 3000 and int(row["before"]) >= 1000:
            # 不能直接修改row，因为row是副本
            valid_df.loc[i, "class_pred"] = "DATE"
            count += 1
    # 2.被误认为是plain的实际上的electronic的网站
    elif row["class_pred"] == "PLAIN":
        if is_com(row["before"]):
            valid_df.loc[i, "class_pred"] = "ELECTRONIC"
            count += 1
print(count)

66

In [8]:
diff_df = valid_df.loc[valid_df["true"] != valid_df["class_pred"]]

In [9]:
diff_df.groupby("true").agg(['count'])

           before class_pred
            count      count
true
ADDRESS         2          2
CARDINAL      130        130
DATE           12         12
DECIMAL        16         16
DIGIT          72         72
ELECTRONIC      4          4
FRACTION        2          2
LETTERS       653        653
MEASURE        12         12
MONEY           7          7
ORDINAL        24         24
PLAIN         407        407
PUNCT          11         11
TELEPHONE       7          7
TIME            4          4
VERBATIM       63         63

In [17]:
diff_df.loc[diff_df["true"] == "CARDINAL"]

       before      true class_pred
8        1990  CARDINAL       DATE
9        1992  CARDINAL       DATE
14          I  CARDINAL      PLAIN
17       1904  CARDINAL       DATE
22       1978  CARDINAL       DATE
35       2012  CARDINAL       DATE
37       2011  CARDINAL       DATE
51       1977  CARDINAL       DATE
52       1942  CARDINAL       DATE
61     CLXXVI  CARDINAL    LETTERS
70       2008  CARDINAL       DATE
78       1000  CARDINAL      DIGIT
108      1995  CARDINAL       DATE
124      1926  CARDINAL       DATE
144      2002  CARDINAL       DATE
153         1  CARDINAL      DIGIT
194         V  CARDINAL      PLAIN
205      2005  CARDINAL       DATE
216      1989  CARDINAL       DATE
224      1907  CARDINAL       DATE
248   438 US   CARDINAL    MEASURE
251      2006  CARDINAL       DATE
270      1999  CARDINAL       DATE
286     13458  CARDINAL      DIGIT
299       146  CARDINAL      DIGIT
322      2009  CARDINAL       DATE
331       124  CARDINAL      DIGIT
335      2013  CARDINAL       DATE
336      2922  CARDINAL      DIGIT
342      2941  CARDINAL       DATE
...       ...       ...        ...
1220        2  CARDINAL      DIGIT
1224     1000  CARDINAL       DATE
1231     1976  CARDINAL       DATE
1237     1860  CARDINAL       DATE
1240     1967  CARDINAL       DATE
1242     1936  CARDINAL       DATE
1247     1901  CARDINAL       DATE
1250     1923  CARDINAL       DATE
1256     1994  CARDINAL       DATE
1258     2007  CARDINAL       DATE
1268     2016  CARDINAL       DATE
1275        6  CARDINAL      DIGIT
1321     1913  CARDINAL       DATE
1326     1974  CARDINAL       DATE
1341     3444  CARDINAL      DIGIT
1355        4  CARDINAL      DIGIT
1363     2011  CARDINAL       DATE
1394     2000  CARDINAL       DATE
1396     2005  CARDINAL       DATE
1408     2006  CARDINAL       DATE
1416     1940  CARDINAL       DATE
1420     1991  CARDINAL       DATE
1426     1942  CARDINAL       DATE
1435     2007  CARDINAL       DATE
1439        3  CARDINAL      DIGIT
1446     1917  CARDINAL       DATE
1472     1965  CARDINAL       DATE
1476     2009  CARDINAL       DATE
1477     2010  CARDINAL       DATE
1478     1998  CARDINAL       DATE

[130 rows x 3 columns]

In [19]:
diff_df.loc[np.logical_and(diff_df["true"] == "DIGIT", diff_df["class_pred"] == "CARDINAL")]

      before   true class_pred
2         07  DIGIT   CARDINAL
21         9  DIGIT   CARDINAL
25         2  DIGIT   CARDINAL
60      8123  DIGIT   CARDINAL
76        41  DIGIT   CARDINAL
83         5  DIGIT   CARDINAL
95         3  DIGIT   CARDINAL
158      402  DIGIT   CARDINAL
186      201  DIGIT   CARDINAL
217      479  DIGIT   CARDINAL
221       14  DIGIT   CARDINAL
225        2  DIGIT   CARDINAL
252       19  DIGIT   CARDINAL
284      677  DIGIT   CARDINAL
290        3  DIGIT   CARDINAL
304        2  DIGIT   CARDINAL
313       06  DIGIT   CARDINAL
353        2  DIGIT   CARDINAL
504        0  DIGIT   CARDINAL
507      100  DIGIT   CARDINAL
526        5  DIGIT   CARDINAL
542     3515  DIGIT   CARDINAL
675     9801  DIGIT   CARDINAL
685        5  DIGIT   CARDINAL
701        4  DIGIT   CARDINAL
733      970  DIGIT   CARDINAL
755       03  DIGIT   CARDINAL
800     101   DIGIT   CARDINAL
804        1  DIGIT   CARDINAL
813       10  DIGIT   CARDINAL
816        3  DIGIT   CARDINAL
839   530545  DIGIT   CARDINAL
861      530  DIGIT   CARDINAL
862    90210  DIGIT   CARDINAL
870       15  DIGIT   CARDINAL
918        1  DIGIT   CARDINAL
952       84  DIGIT   CARDINAL
961       42  DIGIT   CARDINAL
975        3  DIGIT   CARDINAL
977        8  DIGIT   CARDINAL
1039    219   DIGIT   CARDINAL
1073      05  DIGIT   CARDINAL
1087       2  DIGIT   CARDINAL
1111     241  DIGIT   CARDINAL
1161      59  DIGIT   CARDINAL
1212      10  DIGIT   CARDINAL
1225      98  DIGIT   CARDINAL
1228   39475  DIGIT   CARDINAL
1333      0-  DIGIT   CARDINAL
1343      12  DIGIT   CARDINAL
1367  421137  DIGIT   CARDINAL
1370       6  DIGIT   CARDINAL
1424       6  DIGIT   CARDINAL

In [24]:
diff_df.loc[diff_df["true"] == "LETTERS"]

          before     true class_pred
4            OAM  LETTERS      PLAIN
10            fl  LETTERS      PLAIN
13           SES  LETTERS      PLAIN
15             r  LETTERS      PLAIN
18           zkp  LETTERS      PLAIN
19            Dy  LETTERS      PLAIN
20           Cik  LETTERS      PLAIN
31           UHD  LETTERS      PLAIN
32       PISSLRE  LETTERS      PLAIN
33          ydow  LETTERS      PLAIN
36          obci  LETTERS      PLAIN
38           Cen  LETTERS      PLAIN
40            Ke  LETTERS      PLAIN
41          Ymer  LETTERS      PLAIN
42          HEAO  LETTERS      PLAIN
43          uncu  LETTERS      PLAIN
44           AAT  LETTERS      PLAIN
47           dir  LETTERS      PLAIN
48          jkde  LETTERS      PLAIN
49            NE  LETTERS      PLAIN
50           OIS  LETTERS      PLAIN
54             C  LETTERS      PLAIN
56      PRIMJENI  LETTERS      PLAIN
57            kr  LETTERS      PLAIN
59           Wim  LETTERS      PLAIN
63            cd  LETTERS      PLAIN
64          Publ  LETTERS      PLAIN
65           Zhe  LETTERS      PLAIN
68            Os  LETTERS      PLAIN
69          Bibl  LETTERS      PLAIN
...          ...      ...        ...
1425      aaseae  LETTERS      PLAIN
1428       Rya'c  LETTERS      PLAIN
1429         nei  LETTERS      PLAIN
1433  SINIGAGLIA  LETTERS      PLAIN
1434         DfE  LETTERS   VERBATIM
1437        Avgi  LETTERS      PLAIN
1438        NOAA  LETTERS      PLAIN
1440        QEII  LETTERS      PLAIN
1442         goi  LETTERS      PLAIN
1444        Féne  LETTERS      PLAIN
1445      RARRES  LETTERS      PLAIN
1449         gtv  LETTERS      PLAIN
1450        Pidi  LETTERS      PLAIN
1452           '  LETTERS      PUNCT
1461          ES  LETTERS      PLAIN
1462        TRAP  LETTERS      PLAIN
1463        HEKE  LETTERS      PLAIN
1464          ve  LETTERS      PLAIN
1468         Bae  LETTERS      PLAIN
1469           v  LETTERS      PLAIN
1474         Vyd  LETTERS      PLAIN
1475        SAML  LETTERS      PLAIN
1479        KOKC  LETTERS      PLAIN
1480        DoPT  LETTERS      PLAIN
1481         Bei  LETTERS      PLAIN
1482         ILP  LETTERS      PLAIN
1483          LI  LETTERS      PLAIN
1486         EAC  LETTERS      PLAIN
1488        Além  LETTERS      PLAIN
1489         Oum  LETTERS      PLAIN

[653 rows x 3 columns]

In [10]:
lp_df = diff_df.loc[np.logical_and(diff_df["true"] == "LETTERS", diff_df["class_pred"] == "PLAIN")]
lp_df.shape

(643, 3)

In [11]:
pl_df = diff_df.loc[np.logical_and(diff_df["true"] == "PLAIN", diff_df["class_pred"] == "LETTERS")]
pl_df.shape

(377, 3)

In [14]:
with open("../output/letter_set.pkl", "rb") as f:
    letter_set = pkl.load(f)
len(letter_set)

224397

In [15]:
count = 0
for one in lp_df["before"].values:
    if one in letter_set:
        count += 1
print(count)

590

In [16]:
count = 0
for one in pl_df["before"].values:
    if one in letter_set:
        count += 1
print(count)

0