In [1]:
import pandas as pd
import numpy as np

In [2]:
change_file = "../output/patch_replace_change.csv"

In [3]:
change_df = pd.read_csv(change_file, index_col=0)

In [4]:
change_df["class_pred"].value_counts()

LETTERS       388
ORDINAL       106
VERBATIM       56
DATE           44
MEASURE        37
PLAIN          28
MONEY          23
TIME           12
TELEPHONE      10
PUNCT           4
ELECTRONIC      4
ADDRESS         2
CARDINAL        1
FRACTION        1
Name: class_pred, dtype: int64

In [5]:
change_df.loc[146855]

id                                                    11148_7
after                                                 3/37506
before                                                3/37506
class_pred                                           CARDINAL
max_prob                                             0.408591
patch         three thirty seven thousand five hundred sixths
Name: 146855, dtype: object

In [5]:
change_df

,id,after,before,class_pred,max_prob,patch
4197,348_12,o s t i,OSTI,LETTERS,0.922384,OSTI
7347,598_1,g a t a,GATA,LETTERS,0.734841,GATA
7822,630_8,o p a l s,OPALS,LETTERS,0.529580,OPALS
7980,639_9,e p u b,EPUB,LETTERS,0.768256,EPUB
11865,947_5,n a k a m u r a,NAKAMURA,LETTERS,0.659979,NAKAMURA
15089,1189_11,u l m,ULM,LETTERS,0.659244,ULM
15995,1255_6,i v a,IVA,LETTERS,0.906632,IVA
16723,1313_7,c a v,CAV,LETTERS,0.889352,CAV
18736,1466_20,f e,FE,LETTERS,0.837379,FE
19036,1488_16,i r b's,IRBs,LETTERS,0.905760,IRBs
19985,1558_1,i g g,IGG,LETTERS,0.985702,IGG
20528,1594_5,t r o,TRO,LETTERS,0.610897,TRO
22227,1721_5,r e a p e r,REAPER,LETTERS,0.575307,REAPER
22790,1770_2,s w i m,SWIM,LETTERS,0.560406,SWIM
23199,1800_10,b b q,BBQ,LETTERS,0.724227,barbeque
25049,1947_6,u s a d a,USADA,LETTERS,0.982819,USADA
30506,2365_6,n e,NE,LETTERS,0.769319,NE
31877,2474_3,i k a,Ika,LETTERS,0.526144,Ika
33746,2616_8,k i s s,KISS,LETTERS,0.538376,KISS
34199,2650_3,i t s,its',LETTERS,0.999885,i t's
42701,3300_11,i r o s,IROS,LETTERS,0.613511,IROS
49953,3854_6,t r y,TRY,LETTERS,0.914589,TRY
50649,3908_13,i f s a r,IfSAR,LETTERS,0.810386,IfSAR
51614,3987_5,e v o,EVO,LETTERS,0.702402,EVO
58097,4486_10,u s a d a,USADA,LETTERS,0.985034,USADA
59370,4584_9,i b t r a c s,IBTrACS,LETTERS,0.944530,IBTrACS
60364,4657_4,s w a g,SWAG,LETTERS,0.533428,SWAG
66618,5122_5,i g w e,igwe,LETTERS,0.903295,igwe
69354,5335_22,c l l,CLL,LETTERS,0.901290,calle
69814,5369_13,a n s i,ANSI,LETTERS,0.502371,ANSI
...,...,...,...,...,...,...
951379,69655_7,eight million square meters,8 million m²,MEASURE,0.950885,8 million m²
953251,69791_1,bmd-1,BMD-1,MONEY,0.985728,minus one bermudian dollars
953481,69805_12,km/h,km/h,PLAIN,0.483791,kilometer per hour
951379,69655_7,eight million square meters,8 million m²,MEASURE,0.950885,eight million square meters
76840,5900_3,12-nov-1874,12-NOV-1874,DATE,0.941523,the twelfth of november eighteen seventy four
92722,7109_1,the 1st october 2015,the 1st October 2015,DATE,0.999648,the first of october twenty fifteen
143256,10881_1,the 1st december,the 1st December,DATE,0.999476,the first december
146855,11148_7,3/37506,3/37506,CARDINAL,0.408591,three thirty seven thousand five hundred sixths
153008,11598_2,the 16th june,the 16th June,DATE,0.999785,the sixteenth june
187150,14106_4,november nineteen fifty nine,nov 1959,DATE,0.619472,november nineteen fifty nine
280902,20977_0,the twelfth of june nineteen forty two,The 12 June 1942,DATE,0.999954,the twelfth of june nineteen forty two
287914,21476_13,eighty nine a d,89 AD.,DATE,0.999031,eighty nine a d
326168,24276_13,the first of december,01 Dec,DATE,0.402090,the first of december
333277,24811_10,.7-acre,.7-acre,VERBATIM,0.999070,point seven acre
345670,25718_11,the tenth of october twenty eleven,the 10 October 2011,DATE,0.999958,the tenth of october twenty eleven
384677,28557_15,2-december-2015,2-December-2015,DATE,0.999961,the second of december twenty fifteen
390645,28992_8,the 19th may.,the 19th May.,DATE,0.998888,the nineteenth of may
414951,30787_14,h k $ 0,HK$0,LETTERS,0.962969,zero dollars
436624,32359_17,php387,PHP387M,MONEY,0.970533,PHP387M
540441,39887_10,the 5th may 2017,the 5th May 2017,DATE,0.999248,the fifth of may twenty seventeen
552852,40788_5,APRIL 3,APRIL 3,PLAIN,0.880842,april third
587815,43326_9,.7-metre,.7-metre,VERBATIM,0.998980,point seven metre
668987,49182_10,minus two thousand per hectares,"-2,000/ha",MEASURE,0.387237,minus two thousand per hectares
734463,53907_7,twenty point o o o million dollars,$US 20.000 million,MONEY,0.638614,twenty million dollars
737333,54114_6,thursday 17-nov-2016,"Thursday, 17-Nov-2016",DATE,0.999251,thursday the seventeenth of november twenty si...
791053,58032_7,23-mar-1998,23-Mar-1998,DATE,0.999983,the twenty third of march nineteen ninety eight
822943,60329_6,10-april-2014,10-April-2014,DATE,0.999986,the tenth of april twenty fourteen
892611,65414_2,.9-mile,.9-mile,VERBATIM,0.998585,point none mile
939175,68767_12,.7-kilometer,.7-kilometer,VERBATIM,0.999179,point seven kilometer
822943,60329_6,10-april-2014,10-April-2014,DATE,0.999986,the tenth of april twenty fourteen