In [1]:
import pandas as pd
import numpy as np
import pickle as pkl
import re
import os
import gc

In [2]:
train_file = "../input/en_train.csv"
suply_list = [os.path.join("../input/tn", one) for one in os.listdir("../input/tn")]

In [3]:
train_df = pd.read_csv(suply_list[3])

In [4]:
strange_list = list("₀₁₂₃₄₅₆₇₈₉")
def is_strange(token):
    token = str(token)
    for c in strange_list:
        if c in token:
            return True
    return False

In [5]:
train_df.loc[train_df["Input Token"].apply(is_strange)]

         Semiotic Class Input Token Output Token
3583598        VERBATIM           ₂          sil
3583601        VERBATIM           ₃          sil
11601468       VERBATIM           ₂          sil
25764405       VERBATIM           ₃          sil
25764419       VERBATIM           ₃          sil
25939870       VERBATIM           ₁          sil
30131447       VERBATIM           ₀          sil

In [7]:
del train_df
gc.collect()

1828

In [4]:
train_df.columns

Index(['Semiotic Class', 'Input Token', 'Output Token'], dtype='object')

In [12]:
del train_df
gc.collect()

31