In [1]:
import pandas as pd
import numpy as np

In [2]:
test_file_name = "../input/en_test_2.csv"
test_df = pd.read_csv(test_file_name)

In [6]:
dash_df = test_df.loc[test_df["before"] == "-"]
dash_df.shape

(2487, 3)

In [8]:
test_df.loc[dash_df.index + 1]["before"].value_counts()

year                 55
1                    36
0                    35
2                    34
2016                 31
acre                 30
3                    29
6                    24
"                    22
The                  19
17                   19
square               18
16                   17
century              17
X                    16
10                   15
inch                 13
8                    13
2015                 12
minute               12
2011                 12
14                   12
15                   12
bit                  11
A                    11
2005                 11
12                   11
2014                 10
18                   10
11                   10
                     ..
1802                  1
2648.2010             1
916                   1
SPANDeception         1
322                   1
inspired              1
OPTN-                 1
Head                  1
72                    1
366                   1
card                  1
course                1
Jewish                1
theartsdesk.com       1
genetic               1
Kizna                 1
ה                     1
km/h                  1
Rosh                  1
NOLA                  1
recorded              1
December 30, 2016     1
May 3, 2011           1
б                     1
58                    1
11pm                  1
1855                  1
1969                  1
1480                  1
413                   1
Name: before, Length: 1224, dtype: int64

In [9]:
test_df.loc[dash_df.index - 1]["before"].value_counts()

)                   80
1                   78
2                   55
3                   48
4                   37
5                   35
6                   35
2016                28
10                  25
2015                23
13                  20
X                   19
"                   19
20                  18
12                  18
0                   17
D                   17
16                  16
2002                16
40                  16
15                  16
7                   15
2010                15
B                   15
K                   15
2011                15
14                  14
17                  14
G                   14
2013                13
                    ..
1-58435-187          1
1730                 1
Hours                1
Cb                   1
719                  1
news                 1
first                1
326                  1
129                  1
1957                 1
Plaque               1
113                  1
naturally            1
394                  1
Lt                   1
239                  1
October 24, 1932     1
76                   1
1401                 1
281                  1
IBGE                 1
role-playing         1
Concept              1
1-4662-0043          1
369                  1
Homepage             1
Company              1
1660                 1
1982                 1
1853                 1
Name: before, Length: 974, dtype: int64