In [1]:
import pandas as pd
import numpy as np

In [2]:
test_file_name = "../input/en_test_2.csv"
test_df = pd.read_csv(test_file_name)
test_df.shape

(956046, 3)

错误的个数：

In [3]:
956046 * (1-0.9947)

5067.043799999973

In [4]:
test_df.head()

   sentence_id  token_id      before
0            0         0        Last
1            0         1    modified
2            0         2  2016-03-31
3            0         3           .
4            1         0     There's

In [5]:
test_df.iloc[1092]

sentence_id      95
token_id          4
before         2020
Name: 1092, dtype: object

In [15]:
test_df[test_df["sentence_id"] == 54229]

        sentence_id  token_id     before
738844        54229         0          "
738845        54229         1          П
738846        54229         2          ъ
738847        54229         3          р
738848        54229         4          в
738849        54229         5          а
738850        54229         6          т
738851        54229         7          р
738852        54229         8          е
738853        54229         9          н
738854        54229        10          и
738855        54229        11          р
738856        54229        12          о
738857        54229        13          в
738858        54229        14          к
738859        54229        15          а
738860        54229        16          н
738861        54229        17          а
738862        54229        18          Л
738863        54229        19          о
738864        54229        20          к
738865        54229        21          о
738866        54229        22          м
738867        54229        23          о
738868        54229        24          т
738869        54229        25          и
738870        54229        26          в
738871        54229        27          п
738872        54229        28          р
738873        54229        29          е
738874        54229        30          д
738875        54229        31          и
738876        54229        32          с
738877        54229        33          е
738878        54229        34          з
738879        54229        35          о
738880        54229        36          н
738881        54229        37       2017
738882        54229        38          /
738883        54229        39       2018
738884        54229        40          "
738885        54229        41          (
738886        54229        42         in
738887        54229        43  Bulgarian
738888        54229        44          )
738889        54229        45          .